<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Ventes réalisées&nbsp;
                <span class="badge badge-secondary badge-pill" data-toggle="tooltip" data-placement="right"
                      data-trigger="hover" data-original-title="{{totalVentes + (totalVentes > 1 ? ' ventes ' : ' vente') + ' au total'}}"
                      ng-bind="totalVentes" style="cursor: pointer">0</span>
            </h3>
        </div>
        <div class="row mt-3" style="overflow-y: auto;" ng-style="{'height': windowHeightC}">
            <div class=" card-body mb-3 p-1">
                <div class="row p-2">
                    <div class="card-body ml-0" style="overflow-y: auto" ng-style="{'height': windowHeightP}">
                        <!--<div class="row mb-3">
                            <span class=" col-md-12 text-center small"> - Ce n'est pas encore le rendu définitif</span>
                        </div>
                        <hr>
                        <div class="card card-body mb-3 p-1">
                            <div class="row p-2">
                                <div class="input-group col-md-3">
                                    <span class="form-text text-muted small">Marque&nbsp;</span>
                                    <select ng-model="criteria.idMarque" ng-change="getCategories(criteria.idMarque, false)" class="form-control form-control-sm">
                                        <option ng-repeat="m in marques" value="{{m.id}}">{{m.libelle}}</option>
                                    </select>
                                </div>
                                <div class="input-group col-md-3">
                                    <span class="form-text text-muted small">Catégorie&nbsp;</span>
                                    <select ng-model="criteria.idCategorie" ng-change="getSousCategories(criteria.idCategorie)" class="form-control form-control-sm">
                                        <option ng-repeat="c in categories" value="{{c.id}}">{{c.libelle}}</option>
                                    </select>
                                </div>
                                <div class="input-group col-md-3" ng-if="criteria.idCategorie">
                                    <span class="form-text text-muted small">Sous Catégorie&nbsp;</span>
                                    <select ng-model="criteria.idSousCategorie" class="form-control form-control-sm">
                                        <option ng-repeat="sc in sousCategories" value="{{sc.id}}">{{sc.libelle}}</option>
                                    </select>
                                </div>
                                <div class="input-group col-md-2">
                                    <span class="form-text text-muted small">Couleur&nbsp;</span>
                                    <input ng-model="criteria.couleur" type="text" class="form-control form-control-sm"/>
                                </div>
                                <button ng-click="searchProduits(criteria, undefined, undefined, 'searchClick')" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Cliquer pour effectuer la recherche"><i class="icon-magnifier"></i></button>
                                <button ng-click="getProduits()" class="btn btn-outline-secondary btn-sm ml-2" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Rafraîchir la vue"><i class="icon-refresh"></i></button>
                            </div>
                        </div>-->
                        <div class="row mb-2">
                            <form class="col-md-4">
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input ng-model="criteria.libelle" ng-change="searchProduits(criteria)" type="text" class="form-control input search font-italic small" placeholder="Rechercher un nom de produit...">
                                </div>
                            </form>
                            <div class="input-group col-md-2 mr-1">
                                <span class="form-text text-muted small">Statut&nbsp;</span>
                                <select ng-model="criteria.status" ng-change="searchProduits(criteria)" class="form-control form-control-sm">
                                    <option value="1">Activés</option>
                                    <option value="0">Désactivés</option>
                                </select>
                            </div>
                        </div>
                        <hr class="bg-primary"/>

                        <div class="table-responsive">
                            <table class="table table-hover table-outline mb-0 hidden-sm-down animated fadeIn">
                                <thead class="thead-light">
                                <tr>
                                    <th class="text-center small font-weight-bold"><i class="fa fa-asterisk"></i></th>
                                    <th class="text-center small font-weight-bold"><i class="icon-picture"></i></th>
                                    <th class="small font-weight-bold text-center">Nom du produit</th>
                                    <th class="small font-weight-bold text-center">Quantité</th>
                                    <th class="small font-weight-bold text-center">Prix unitaire (FCFA)</th>
                                    <th class="small font-weight-bold text-center">Total (FCFA)</th>
                                    <th class="small font-weight-bold text-center">E-commerciaux</th>
                                    <th class="small font-weight-bold text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="totalVentes <= 0 || !totalVentes">
                                    <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="8"><i class="icon-social-dropbox
"></i>&nbsp;Aucune donn&eacute;e disponible </td>
                                </tr>
                                <tr ng-repeat="v in ventes">
                                    <td class="text-center animated fadeIn">{{$index+1}}</td>
                                    <td class="text-center animated fadeIn">
                                        <div class="avatar">
                                            <img ng-src="{{v.imageProduit}}" class="img-avatar" alt="photo" style="border-radius: 0">
                                        </div>
                                    </td>
                                    <td class="small text-center animated fadeIn">
                                        <div class="text-truncate" style="max-width: 120px;" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="{{v.libelleProduit}}">{{v.libelleProduit}}</div>
                                    </td>
                                    <td class="small text-center animated fadeIn">
                                        <div>{{v.quantite}}</div>
                                    </td>
                                    <td class="small text-center animated fadeIn">{{v.prix | awnum:false:false:false:false:true:' ':false:false}}</td>
                                    <td class="small text-center animated fadeIn">{{getTotalProduit(v.prix, v.quantite) | awnum:false:false:false:false:true:' ':false:false}}</td>
                                    <td class="small text-center animated fadeIn">
                                        <div class="avatar">
                                            <img ng-src="{{v.photoAbonne}}" class="img-avatar" alt="photo">
                                        </div>
                                        <div class="small">{{v.nomAbonne + ' ' + v.prenomAbonne}}</div>
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-CONSULTER-MODIFIER')" class="btn btn-outline-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Voir les détails">
                                                <i class="icon-eye"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-CONSULTER-ACTIVER')" >
                                                <a ng-click="" class="dropdown-item" href="#">Test1</a>
                                                <a ng-click="" class="dropdown-item" href="#">Test2</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-switch="searching">
                            <div ng-switch-when="false">
                                <div ng-show="totalVentes >= 6" class="pagination pagination-sm float-sm-right mt-3">
                                    <ul uib-pagination total-items="totalVentes" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeVentes" ng-change="getVentes(currentPage -1,sizeVentes)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                </div>
                            </div>
                            <div ng-switch-when="true">
                                <div ng-show="totalVentes >= 6" class="pagination pagination-sm float-sm-right mt-3">
                                    <ul uib-pagination total-items="totalVentes" ng-model="currentPageS" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeVentes" ng-change="searchVentes(criteria,currentPageS -1,sizeVentes)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
