<div class="animated fadeIn">

    <div class="clearfix mb-2 mt-2">

        <div class="card card-body mb-3 p-1">
            <div class="row p-2">
                <div class="input-group col-md-3">
                    <span class="form-text text-muted small">Marque&nbsp;</span>
                    <select ng-model="criteria.idMarque" ng-change="getCategories(criteria.idMarque, true)" class="form-control form-control-sm">
                        <option ng-repeat="m in marques" value="{{m.id}}">{{m.libelle}}</option>
                    </select>
                </div>
                <div class="input-group col-md-3" ng-if="criteria.idMarque">
                    <span class="form-text text-muted small">Catégorie&nbsp;</span>
                    <select ng-model="criteria.idCategorie" ng-change="getSousCategories(criteria.idCategorie)" class="form-control form-control-sm">
                        <option ng-repeat="c in categories" value="{{c.id}}">{{c.libelle}}</option>
                    </select>
                </div>
                <div class="input-group col-md-3" ng-if="criteria.idCategorie">
                    <span class="form-text text-muted small">Sous Catégorie&nbsp;</span>
                    <select ng-model="criteria.idSousCategorie" class="form-control form-control-sm">
                        <option ng-repeat="sc in sousCategories" value="{{sc.id}}">{{sc.libelle}}</option>
                    </select>
                </div>
            </div>
        </div>

        <form class="form-inline float-left">
            <input type="file" ng-model="fileToImport" ngf-select name="file" class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ngf-max-size="1MB" ngf-max-height="1000" ngf-model-invalid="errorFile">

            <button class="btn btn-sm btn-outline-primary" ng-click="importerCatalogProduit(fileToImport, errorFile, criteria)" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Importer vos produits"><i class="icon-cloud-upload"></i>&nbsp;Importer</button>
        </form>

        <span class="font-weight-bold float-right">{{totalProduit + ((totalProduit > 0) ? ' produits importés' : ' produit importé') + ' au total'}}</span>
    </div>

    <div ng-show="uploading" class="progress animated fadeIn">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: 75%">{{progress}}%</div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-outline mb-0 hidden-sm-down animated fadeIn">
            <thead class="thead-light">
            <tr>
                <th class="text-center small font-weight-bold"><i class="fa fa-asterisk"></i></th>
                <th class="text-center small font-weight-bold"><i class="icon-picture"></i></th>
                <th class="small font-weight-bold text-center">Référence</th>
                <th class="small font-weight-bold text-center">Désignation</th>
                <th class="small font-weight-bold text-center">Prix (FCFA)</th>
                <th class="small font-weight-bold text-center">Prix min. (FCFA)</th>
                <th class="small font-weight-bold text-center">Prix max. (FCFA)</th>
                <th class="small text-center font-weight-bold">Quantité</th>
                <th class="small font-weight-bold">Statut</th>
                <th class="small font-weight-bold">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="totalProduit <= 0 || !totalProduit">
                <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="10"><i class="icon-social-dropbox
"></i>&nbsp;Aucune donn&eacute;e disponible </td>
            </tr>
            <tr ng-repeat="p in produits">
                <td class="text-center animated fadeIn">{{$index+1}}</td>
                <td class="text-center animated fadeIn">
                    <div class="avatar" style="cursor: pointer">
                        <img ng-click="showImage(p)" ng-src="{{p.listImageProduit[0].image}}" class="img-avatar" alt="photo">
                    </div>
                </td>
                <td class="small text-center animated fadeIn">
                    <div class="text-truncate" style="max-width: 120px;" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="{{p.referenceProduit}}">{{p.referenceProduit}}</div>
                </td>
                <td class="small text-center animated fadeIn">
                    <div class="text-truncate" style="max-width: 120px;" data-toggle="tooltip" data-trigger="hover" data-placement="bottom" data-original-title="{{p.libelle}}">{{p.libelle}}</div>
                </td>
                <td class="small text-center animated fadeIn">{{p.prix | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="small text-center animated fadeIn">{{p.prixMin | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="small text-center animated fadeIn">{{p.prixMax | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="small text-center animated fadeIn">{{p.quantite | awnum:false:false:false:false:true:' ':false:false}}</td>
                <td class="text-center animated fadeIn">
                    <i ng-class="getStatusProduit(p).icon" class="text-{{getStatusProduit(p).state}}" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="{{getStatusProduit(p).text}}"></i>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-IMPORTER-MODIFIER')" ng-click="showEditProduitModal(p)" class="btn btn-outline-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Modifier {{p.libelle}} ?">
                            <i class="icon-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-IMPORTER-ACTIVER')" ng-if="p.status == 0" ng-click="enableDisableProduit(p, 'activer')" class="dropdown-item" href="#"><i class="icon-check text-success"></i>Activer</a>
                            <a ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-IMPORTER-DESACTIVER')" ng-if="p.status == 1" ng-click="enableDisableProduit(p, 'desactiver')" class="dropdown-item" href="#"><i class="icon-ban text-danger font-weight-bold"></i>Désactiver</a>
                            <a ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-IMPORTER-SUPPRIMER')" class="dropdown-item" ng-click="deleteProduit(p)" href="#"><i class="icon-close font-weight-bold"></i>Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-show="totalProduit >= 6" class="pagination pagination-sm float-sm-right mt-3">
            <ul uib-pagination total-items="totalProduit" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeProduit" ng-change="getImportProduits(currentPage -1,sizeProduit)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
</div>
