<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Gestion de compte</h3>
        </div>
        <div class="row" style="overflow-y: auto;" ng-style="{'height': windowHeightC}">
            <div class=" card-body mb-3 p-1">
                <div class="row p-2">
                    <div class="card-body" style="overflow-y: auto" ng-style="{'height': windowHeightP}">
                        <h5 class="text-muted text-center font-weight-bold font-3xl">Solde actuel : <span>{{(solde ? solde : '0') | awnum:false:false:false:false:true:' ':false:false}} XOF</span> <span ng-click="showModalAchatCredit()" class="btn btn-sm btn-outline-success font-weight-bold float-right" style="cursor: pointer">Achat de crédit</span></h5>
                        <hr/>
                        <br/>

                        <h6 class="ml-3 small text-center text-muted font-weight-bold">Sélectionner une période à visualiser</h6>
                        <div class=" d-flex justify-content-center">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input date-range-picker options="options" ng-model="datePicker" type="text" class="form-control date-picker" placeholder="..." readonly/>
                                    <span ng-click="searchTransactions(datePicker)" class="btn btn-outline-info ml-1" style="cursor: pointer">Afficher</span>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div ng-include="'app/espace-publicitaire/views/compte/tables/histo-achat-credit.html'"></div>
                        <div ng-switch="searching">
                            <div ng-switch-when="false">
                                <div ng-show="totalTransaction > 5" class="pagination pagination-sm float-sm-right mt-3">
                                    <ul uib-pagination total-items="totalTransaction" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeTransaction" ng-change="getHistoAchatCredit(currentPage -1,sizeTransaction)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                </div>
                            </div>
                            <div ng-switch-when="true">
                                <div ng-show="totalTransaction > 5" class="pagination pagination-sm float-sm-right mt-3">
                                    <ul uib-pagination total-items="totalTransaction" ng-model="currentPageS" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeTransaction" ng-change="searchTransactions(criteria, currentPageS -1,sizeTransaction)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


