<div class="animated fadeIn">
    <div class="email-app mb-4">
        <nav>
            <label class="btn btn-primary btn-block font-weight-bold" disabled="true" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">Menu</label>
            <ul class="nav nav-pills">
                <li class="nav-item animated fadeIn" style="cursor: pointer" ui-sref="app.espace-publicitaire.compte" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-briefcase"></i>&nbsp;Compte</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.espace-publicitaire.publications" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-newspaper-o"></i>&nbsp;Publications</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.espace-publicitaire.validations" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-check"></i>&nbsp;Validations</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.espace-publicitaire.historique" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-undo"></i>&nbsp;Historique</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.espace-publicitaire.statistiques" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-line-chart"></i>&nbsp;Statistiques</a>
                </li>
            </ul>
        </nav>
        <main class="message">
            <div class="details">
                <div class="content" ui-view="esp_pub_sub_menu"></div>
            </div>
        </main>
    </div>
</div>


<!--Les modaux-->
<div id="achat-credit" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="fa fa-money fa-1x"></i>&nbsp;|&nbsp;Achat de crédit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Fermer">
                    <span aria-hidden="true" class="text-dark"><i class="fa fa-close"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <h2 class="text-primary text-center font-weight-bold">Nos formules</h2> <hr>

                <!--les offres-->
                <div class="card-body pb-0 pt-0">
                    <div class="row">
                        <!--bronze-->
                        <div class="col-md-4">
                            <div class="card" style="border-color: #8F5408">
                                <div class="ribbon-yellow">
                                    <span>BRONZE</span>
                                </div>
                                <img class="card-img-top" src="img/bg16.jpg" alt="Card image cap">
                                <div class="center-text-on-img font-weight-bold font-xl" style="width:100%;">{{choice.BRONZE | awnum:false:false:false:false:true:' ':false:false}} FTTC</div>
                                <div class="card-body">
                                    <h6 class="card-title mb-2">Détails
                                        <label class="float-right">
                                            <input ng-model="choix" class="form-check-input" type="radio" name="exampleRadios" value="bronze">
                                        </label>
                                    </h6>
                                    <p style="overflow-y: auto;" ng-style="{'height': 100}" class="card-text">
                                        <small ng-include="'app/espace-publicitaire/views/compte/description-offre/bronze.html'"></small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--argent-->
                        <div class="col-md-4">
                            <div class="card border-secondary">
                                <div class="ribbon-gray">
                                    <span>ARGENT</span>
                                </div>
                                <img class="card-img-top" src="img/bg15.jpg" alt="Card image cap">
                                <div class="center-text-on-img font-weight-bold font-xl" style="width:100%;">{{choice.ARGENT | awnum:false:false:false:false:true:' ':false:false}} FTTC</div>
                                <div class="card-body">
                                    <h6 class="card-title">Détails
                                        <label class="float-right">
                                            <input ng-model="choix" class="form-check-input" type="radio" name="exampleRadios" value="argent">
                                        </label>
                                    </h6>
                                    <p style="overflow-y: auto;" ng-style="{'height': 100}" class="card-text">
                                        <small ng-include="'app/espace-publicitaire/views/compte/description-offre/argent.html'"></small>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--or-->
                        <div class="col-md-4">
                            <div class="card border-success">
                                <div class="ribbon-green">
                                    <span>OR</span>
                                </div>
                                <img class="card-img-top" src="img/bg17.jpg" alt="Card image cap">
                                <div class="center-text-on-img font-weight-bold font-xl" style="width:100%;">{{choice.OR | awnum:false:false:false:false:true:' ':false:false}} FTTC</div>
                                <div class="card-body">
                                    <h6 class="card-title">Détails
                                        <label class="float-right">
                                            <input ng-model="choix" class="form-check-input" type="radio" name="exampleRadios" value="or">
                                        </label>
                                    </h6>
                                    <p style="overflow-y: auto;" ng-style="{'height': 100}" class="card-text">
                                        <small ng-include="'app/espace-publicitaire/views/compte/description-offre/or.html'"></small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center" aria-label="Basic example">
                    <button type="button" class="btn btn-brand btn-visa">
                        <i class="fa fa-cc-visa fa-2x"></i>
                    </button>
                    <button type="button" class="btn btn-brand btn-mastercard ml-2 mr-2">
                        <i class="fa fa-cc-mastercard fa-2x"></i>
                    </button>
                    <button type="button" class="btn btn-brand btn-discover mr-2">
                        <i class="fa fa-cc-discover fa-2x"></i>
                    </button>
                    <button ng-click="initPayPalPayment(choix)" type="button" class="btn btn-brand btn-paypal">
                        <i class="fa fa-cc-paypal fa-2x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal de saisie de texte-->

<div id="dialog-text" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-info" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="fa fa-id-card-o fa-1x"></i>&nbsp;|&nbsp;Saisie du texte</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <text-angular class="ta-editor" placeholder="Entrer votre texte" name="htmlContentDescription" ng-model="pubTexte" ta-disabled='disabled' ta-toolbar="[['undo','redo'], ['bold','italics','underline'], ['indent', 'outdent'], ['p', 'ul', 'ol'], ['justifyLeft','justifyCenter','justifyRight','justifyFull'], ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']]" ta-toolbar-button-class="btn btn-sm btn-secondary" ta-toolbar-active-button-class="active"></text-angular>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
                <button ng-click="getTexte(pubTexte)" type="button" class="btn btn-sm btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>

<div id="motifRejet" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-danger" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="icon-note"></i>&nbsp;|&nbsp;Motif du rejet</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-shield"></i></span>
                            <textarea ng-model="typePublication.motifRejet" type="text" class="form-control" placeholder="Saisir le motif du rejet ici..." rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" ng-click="decisionTypePublication(typePublication.id, typePublication, 'reject')"><i class="icon-check"></i>&nbsp;Confirmer</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="icon icon-ban"></i>&nbsp;Fermer</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-send-publication" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="fa fa-id-card-o fa-1x"></i>&nbsp;|&nbsp;Choisir la plage de diffusion</h5>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row justify-content-center mb-3">
                        <span class="h5 text-muted">{{ publicationModal.libelle }}</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Début de diffusion<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                        <input date-range-picker options="optionsTimeDatePicker" ng-model="startDateTimePicker" type="text" class="form-control form-control-sm date-picker" placeholder="selectionnez une période..." readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <span class="form-text small text-muted">Fin de diffusion<span style="color: #f86c6b">&nbsp;*</span></span>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                        <input date-range-picker options="optionsTimeDatePicker" ng-model="endDateTimePicker" type="text" class="form-control form-control-sm date-picker" placeholder="selectionnez une période..." readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="callout callout-success">
                                <strong class="text-muted h5">Taille total de la publication:&nbsp;<span class="font-weight-bold">{{ publicationPrice.totalSize | awnum:false:false:false:false:true:' ':false:false }} Ko</span></strong><br>
                                <strong class="text-muted h5">Prix total:&nbsp;<span class="font-weight-bold">{{ publicationPrice.totalPrice | awnum:false:false:false:false:true:' ':false:false }} FCFA</span></strong>
                            </div>
                        </div><!--/.col-->
                    </div><!--/.row-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Fermer</button>
                <button ng-click="sendRangeDate(publicationModal, startDateTimePicker, endDateTimePicker)" type="button" class="btn btn-sm btn-primary">Valider</button>
            </div>
        </div>
    </div>
</div>


<style>
    .selected {
        background: #e4e5e6;
    }

    li.active>a {
        /*color: #FFF !important;
        background-color: #FF6600 !important;
        !* background-color: #8F8F8F !important; *!
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(248, 85, 0, 0.4);
        font-weight: 500;*/
        z-index: 2;
        color: #fff !important;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);
        background-color: #267491;
        border-color: #267491;
    }

    .ribbon-yellow {
        position: absolute;
        right: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
    }
    .ribbon-yellow span {
        font-size: 16px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#F79E05 0%, #8F5408 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;
    }
    .ribbon-yellow span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #8F5408;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8F5408;
    }
    .ribbon-yellow span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #8F5408;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8F5408;
    }

    .ribbon-green {
        position: absolute;
        right: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
    }
    .ribbon-green span {
        font-size: 16px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#9BC90D 0%, #79A70A 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;
    }
    .ribbon-green span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #79A70A;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #79A70A;
    }
    .ribbon-green span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #79A70A;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #79A70A;
    }

    .ribbon-gray {
        position: absolute;
        right: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
    }
    .ribbon-gray span {
        font-size: 16px;
        font-weight: bold;
        color: #FFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background: #79A70A;
        background: linear-gradient(#B6BAC9 0%, #808080 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
        position: absolute;
        top: 19px; right: -21px;
    }
    .ribbon-gray span::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid #808080;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #808080;
    }
    .ribbon-gray span::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #808080;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #808080;
    }

    .center-text-on-img {
        position: absolute;
        top: 20%;
        left: 65%;
        transform: translate(-50%, -50%);
    }

    .btn-mastercard {
        color: #fff;
        background-color: #cc0000;
        border-color: #cc0000;
    }
    .btn-discover {
        color: #fff;
        background-color: #f38231;
        border-color: #f38231;
    }
    .btn-visa {
        color: #fff;
        background-color: #faaa13;
        border-color: #faaa13;
    }
    .btn-paypal {
        color: #fff;
        background-color: #009cde;
        border-color: #009cde;
    }


</style>
