<form name="datatable">
  <div class="row">
    <div class="col-md-12">
      <div class="material-datatables table-responsive" ng-if="options.simpleTable">
        <table class="table table-striped table-bordered" style="border-top: 0;">
          <thead>
            <tr>
              <th ng-if="options.number" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">
                <a href="#" ng-click="options.loadItems()" style="color: inherit;">
                  <i class="icon-refresh"></i>
                </a>
              </th>
              <th ng-repeat="col in options.columns" width="{{col.width}}" style="font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">
                <i ng-if="!isNull(col.icon)" class="{{col.icon}}"></i>{{col.title}}
              </th>
              <th ng-if="options.status" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">Statut</th>
              <th ng-if="options.details" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">

              </th>
              <th ng-if="options.modify" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">

              </th>
            </tr>
            <tr ng-if="options.search">
              <th ng-if="options.number" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;"></th>
              <th ng-repeat="col in options.columns" style="background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">
                <div ng-if="col.type === 'text'" class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                  <label class="control-label"></label>
                  <input type="text" ng-model="col.valueSearch" ng-change="options.searchItem(col)" placeholder="" class="form-control input-sm">
                </div>
                <div ng-if="col.type === 'datepicker'" class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                  <label class="control-label"></label>
                  <input type="text" ng-model="col.valueSearch" ng-change="options.searchItem(col)" placeholder="" datepicker class="form-control input-sm">
                </div>
                <div ng-if="col.type === 'object'" class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                  <label class="control-label"></label>
                  <input type="text" ng-model="col.valueSearch" ng-change="options.searchItem(col)" placeholder="" class="form-control input-sm">
                </div>
              </th>
              <th ng-if="options.status" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">
                <div class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                  <label class="control-label"></label>
                  <select class="bs-select design-border form-control input-sm" ng-model="item.status" ng-change="options.searchItemStatus(item.status)">
                    <option></option>
                  <option ng-repeat="s in status" value="{{s.name}}">{{ s.value }}</option>
                </select>
                </div>
              </th>
              <th ng-if="options.details" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">
          </th>
          <th ng-if="options.modify" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">

          </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="data in options.dataRows" ng-if="(pagination.startIndex - 1) <= $index && $index <= (pagination.lastIndex -1)">
              <td ng-if="options.number" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">{{$index + 1}}</td>
              <td ng-repeat="col in options.columns" style="border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                <span ng-if="col.type === 'text' && !col.href">
                  {{ !isNull(data[col.value]) ? data[col.value] : '' }}
                </span>
                <span ng-if="col.type === 'text' && col.href">
                  <a href style="color:#FF6F00;font-weight:400" ng-click="options.onSelectRow(data)">{{ !isNull(data[col.value]) ? data[col.value] : '' }}</a>
                </span>
                <span ng-if="col.type === 'datepicker' && !col.href">
                  {{ !isNull(data[col.value]) ? data[col.value] : '' }}
                </span>
                <span ng-if="col.type === 'datepicker' && col.href">
                  <a href style="color:#FF6F00;font-weight:400" ng-click="options.onSelectRow(data)">{{ !isNull(data[col.value]) ? data[col.value] : '' }}</a>
                </span>
                <span ng-if="col.type === 'object' && !col.href">
                  {{ !isNull(col.value) ? showObjectProperties(col, data) : '' }}
                </span>
                <span ng-if="col.type === 'object' && col.href">
                  <a href style="color:#FF6F00;font-weight:400" ng-click="options.onSelectRow(data)"></a>{{ !isNull(col.value) ? showObjectProperties(col, data) : '' }}</a>
                </span>
              </td>
              <td ng-if="options.status" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                <i class="fa fa-circle" ng-style="{{ !isNull(data['color']) ? {'color':data['color']} : {} }}"></i>
              </td>
              <td ng-if="options.details" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                    <a href ng-click="options.onClickDetailsRow(data)">
                      <i class="material-icons" style="font-size: 16px;color:#7a8ca5;">zoom_in</i>
                    </a>
                  </td>
                  <td ng-if="options.modify" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                    <a href ng-click="options.onClickModifyRow(data)">
                      <i class="material-icons" style="font-size: 16px;color:#7a8ca5;">edit</i>
                    </a>
                  </td>
            </tr>
            <tr ng-if="options.dataRows.length === 0">
              <td colspan="{{ options.columns.length + 2 }}" style="text-align: center;border-bottom: 0;font-size: 13px;border-right: 0;border-left: 0;">
                Aucune donnée disponible dans le tableau
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-sm-12" ng-if="options.footer && options.dataRows.length > 0">
          <div class="row">
            <div class="col-sm-5" align="left" style="padding-top: 25px;">
              <span>Affichage de l'élément {{pagination.startIndex}} à {{ (pagination.lastIndex > options.dataRows.length) ? options.dataRows.length
                : pagination.lastIndex }} sur {{options.dataRows.length}} éléments</span>
            </div>
            <div class="col-sm-7" align="right">
              <ul uib-pagination total-items="options.dataRows.length" ng-model="pagination.currentPage" ng-change="pagination.change()"
                max-size="pagination.maxSize" items-per-page="pagination.sizePerPage" direction-links="true" class="pagination pagination-primary"
                previous-text="Pr&eacute;c&eacute;dent" boundary-link-numbers="true" rotate="true" next-text="Suivant">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card" ng-if="!options.simpleTable" style="border-radius:1px">
        <div class="card-header card-header-icon" data-background-color="purple" ng-if="options.header">
          <i class="material-icons">{{ options.icon }}</i>
        </div>
        <div class="card-content">
          <h4 class="card-title" ng-if="!isNull(options.title) || !isNull(options.expression)">
            <span ng-if="!isNull(options.title)">{{ options.title }}</span>&nbsp;
            <ng-bind-html ng-if="!isNull(options.expression)" ng-bind-html="options.expression" style="font-size:12px;padding: 3px !important;background-color:#FF6600!important;color:#fff;font-weight:500;margin-left: -9px;"></ng-bind-html>
          </h4>
          <div class="material-datatables table-responsive">
            <table class="table table-striped table-bordered" style="border-top: 0;">
              <thead>
                <tr>
                  <th ng-if="options.number" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">
                    <a href="#" ng-click="options.loadItems()" style="color: inherit;">
                      <i class="icon-refresh"></i>
                    </a>
                  </th>
                  <th ng-repeat="col in options.columns" width="{{col.width}}" style="font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">
                    <i ng-if="!isNull(col.icon)" class="{{col.icon}}"></i>{{col.title}}
                  </th>
                  <th ng-if="options.status" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">Statut</th>
                  <th ng-if="options.details" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">

              </th>
              <th ng-if="options.modify" style="text-align: center;font-size: 13px;font-weight: 400;border-top:1px solid gainsboro;border-right: 0;border-left: 0;">

              </th>
                </tr>
                <tr ng-if="options.search">
                  <th ng-if="options.number" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;"></th>
                  <th ng-repeat="col in options.columns" style="background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">
                    <div ng-if="col.type === 'text'" class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                      <label class="control-label"></label>
                      <input type="text" ng-model="col.valueSearch" ng-change="options.searchItem(col)" placeholder="" class="form-control input-sm">
                    </div>
                    <div ng-if="col.type === 'datepicker'" class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                      <label class="control-label"></label>
                      <input type="text" ng-model="col.valueSearch" ng-change="options.searchItem(col)" placeholder="" datepicker class="form-control input-sm">
                    </div>
                    <div ng-if="col.type === 'object'" class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                      <label class="control-label"></label>
                      <input type="text" ng-model="col.valueSearch" ng-change="options.searchItem(col)" placeholder="" class="form-control input-sm">
                    </div>
                  </th>
                  <th ng-if="options.status" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">
                    <div class="form-group label-floating" style="padding-bottom: 0px;margin: 0px 0 0 0;font-family:Roboto, Helvetica, Arial, sans-serif, Simple-Line-Icons;">
                      <label class="control-label"></label>
                      <select class="bs-select design-border form-control input-sm" ng-model="item.status" ng-change="options.searchItemStatus(item.status)">
                          <option></option>
                      <option ng-repeat="s in status" value="{{s.name}}">{{ s.value }}</option>
                    </select>
                    </div>
                  </th>
                  <th ng-if="options.details" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">
              </th>
              <th ng-if="options.modify" style="text-align: center;background-color: #fff;font-size: 13px;font-weight: 400;border-top:0;border-right: 0;border-left: 0;">

              </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in options.dataRows" ng-if="(pagination.startIndex - 1) <= $index && $index <= (pagination.lastIndex -1)">
                  <td ng-if="options.number" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">{{$index + 1}}</td>
                  <td ng-repeat="col in options.columns" style="border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                    <span ng-if="col.type === 'text' && !col.href">
                      {{ !isNull(data[col.value]) ? data[col.value] : '' }}
                    </span>
                    <span ng-if="col.type === 'text' && col.href">
                      <a href style="color:#FF6F00;font-weight:400" ng-click="options.onSelectRow(data)">{{ !isNull(data[col.value]) ? data[col.value] : '' }}</a>
                    </span>
                    <span ng-if="col.type === 'datepicker' && !col.href">
                      {{ !isNull(data[col.value]) ? data[col.value] : '' }}
                    </span>
                    <span ng-if="col.type === 'datepicker' && col.href">
                      <a href style="color:#FF6F00;font-weight:400" ng-click="options.onSelectRow(data)">{{ !isNull(data[col.value]) ? data[col.value] : '' }}</a>
                    </span>
                    <span ng-if="col.type === 'object' && !col.href">
                      {{ !isNull(col.value) ? showObjectProperties(col, data) : '' }}
                    </span>
                    <span ng-if="col.type === 'object' && col.href">
                      <a href style="color:#FF6F00;font-weight:400" ng-click="options.onSelectRow(data)"></a>{{ !isNull(col.value) ? showObjectProperties(col, data) : '' }}</a>
                    </span>
                  </td>
                  <td ng-if="options.status" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                    <i class="fa fa-circle" ng-style="{{ !isNull(data['color']) ? {'color':data['color']} : {} }}"></i>
                  </td>
                  <td ng-if="options.details" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                    <a href ng-click="options.onClickDetailsRow(data)">
                      <i class="material-icons" style="font-size: 16px;color:#7a8ca5;">zoom_in</i>
                    </a>
                  </td>
                  <td ng-if="options.modify" style="text-align: center;border-bottom: 0;font-size: 12px;font-weight: 400;border-right: 0;border-left: 0;">
                    <a href ng-click="options.onClickModifyRow(data)">
                      <i class="material-icons" style="font-size: 16px;color:#7a8ca5;">edit</i>
                    </a>
                  </td>
                </tr>
                <tr ng-if="options.dataRows.length === 0">
                  <td colspan="{{ options.columns.length + 2 }}" style="text-align: center;border-bottom: 0;font-size: 13px;border-right: 0;border-left: 0;">
                    Aucune donnée disponible dans le tableau
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-sm-12" ng-if="options.footer && options.dataRows.length > 0">
              <div class="row">
                <div class="col-sm-5" align="left" style="padding-top: 25px;">
                  <span>Affichage de l'élément {{pagination.startIndex}} à {{ (pagination.lastIndex > options.dataRows.length)
                    ? options.dataRows.length : pagination.lastIndex }} sur {{options.dataRows.length}} éléments</span>
                </div>
                <div class="col-sm-7" align="right">
                  <ul uib-pagination total-items="options.dataRows.length" ng-model="pagination.currentPage" ng-change="pagination.change()"
                    max-size="pagination.maxSize" items-per-page="pagination.sizePerPage" direction-links="true" class="pagination pagination-primary"
                    previous-text="Pr&eacute;c&eacute;dent" boundary-link-numbers="true" rotate="true" next-text="Suivant">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
      padding: 8px;
      line-height: 13px;
    }

    .table {
      margin-bottom: 0px;
    }

    .table>thead>tr>th {
      border-bottom: 1px solid gainsboro;
      white-space: nowrap;
    }

    .table>thead>tr>th:last-child {
      padding-right: 16px;
    }

    .table>tbody>tr>tr:first-child {
      padding-top: 1px;
    }

    .table>tbody>tr>td {
      padding: 0px 8px;
      line-height: 30px;
      border-top: 1px solid gainsboro;
    }

    .table>tbody>tr>td:last-child {
      padding-right: 16px !important;
    }

    .table-id {
      text-align: left !important;
      width: 40px;
    }

    .table-arr {
      width: 5px;
      padding: 10px 8px 8px 0 !important;
    }

    .table-no-borders {
      border: none;
    }

    .table-no-borders td,
    .table-no-borders th,
    .table-no-borders tr {
      border: none !important;
    }

    .editable-wrap .btn-group.form-control {
      background-color: transparent;
    }

    .ui-select-multiple.ui-select-bootstrap {
      border-top: none;
      border-left: none;
      border-right: none;
    }

    .panel {
      background: transparent;
    }

    .editable-tr-wrap .editable-wrap {
      vertical-align: super;
    }

    .editable-tr-wrap .editable-controls input.editable-input {
      width: 150px;
    }

    .editable-table-button {
      width: 70px;
    }

    .table-toolbar .row {
      margin: 0;
    }

    .add-row-editable-table {
      margin-bottom: 10px;
      padding-left: 0;
    }

    .search-block {
      margin: 0px;
    }

    .add-row-editable-table+table {
      margin-bottom: 5px;
    }

    .select-page-size-wrap {
      width: 215px;
      margin-bottom: 15px;
      padding-left: 0;
    }

    .select-page-size-wrap select {
      margin-right: 10px;
    }

    .table .header-row th {
      vertical-align: middle;
      padding: 0 8px;
    }

    tr.editable-row input.form-control {
      vertical-align: middle;
    }

    .select-td .editable-select {
      margin-bottom: 1px;
    }

    @media screen and (max-width: 1199px) {
      .editable-tr-wrap .editable-wrap {
        vertical-align: middle;
      }
    }

    .browser-icons {
      width: 41px;
    }

    .st-sort-ascent,
    .st-sort-descent {
      position: relative;
    }

    .st-sort-ascent:after,
    .st-sort-descent:after {
      width: 0;
      height: 0;
      border-bottom: 4px solid #73879C;
      border-top: 4px solid transparent;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      margin-bottom: 2px;
    }

    .st-sort-descent:after {
      transform: rotate(-180deg);
      margin-bottom: -2px;
    }

    .sortable th {
      cursor: pointer;
    }

    .sortable th:after {
      content: '';
      display: inline-block;
      width: 8px;
      margin-left: 8px;
    }

    a.email-link {
      color: #73879C;
    }

    a.email-link:hover {
      color: #e85656;
    }

    input.search-input {
      margin-left: -8px;
      padding-left: 8px;
    }

    .vertical-scroll {
      max-height: 214px;
    }

    .status-button {
      width: 60px;
    }

    .table .editable-wrap .editable-controls,
    .table .editable-wrap .editable-error {
      vertical-align: sub;
    }

    .table .editable-wrap .editable-controls .btn,
    .table .editable-wrap .editable-error .btn {
      padding: 3px 7px;
      margin-left: 5px;
    }

    .editable-click:hover,
    a.editable-click:hover {
      color: #000 !important;
      border-bottom-color: #000 !important;
    }

    .editable-click,
    a.editable-click {
      color: #000 !important;
      border-bottom: dashed 1px #000 !important;
    }

    .table .editable-wrap .editable-controls .btn.dropdown-toggle,
    .table .editable-wrap .editable-error .btn.dropdown-toggle {
      padding: 3px 20px;
      margin-top: 3px;
    }

    .table .editable-wrap .editable-controls input,
    .table .editable-wrap .editable-error input {
      line-height: 15px;
      height: 30px;
    }

    .table>thead>tr>th {
      border-bottom: none;
    }

    .table>tbody>tr.no-top-border:first-child>td {
      border-top: none;
    }

    .table-bordered,
    .table-bordered>thead>tr>th,
    .table-bordered>tbody>tr>th,
    .table-bordered>tfoot>tr>th,
    .table-bordered>thead>tr>td,
    .table-bordered>tbody>tr>td,
    .table-bordered>tfoot>tr>td {
      border: 1px solid gainsboro;
    }

    .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #f3f3f3;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #fff));
      background-clip: border-box;
      background: -ms-linear-gradient(bottom, #eee, #fff);
      background: -moz-linear-gradient(center bottom, #eee 0, #fff 100%);
      background-clip: border-box;
      background: -o-linear-gradient(#fff, #eee);
    }

    .table>tbody>tr.primary>td {
      background-color: rgba(32, 158, 145, 0.7);
      color: #ffffff;
      border: none;
    }

    .table>tbody>tr.primary>td a.email-link {
      color: #ffffff;
    }

    .table>tbody>tr.primary>td a.email-link:hover {
      color: #e85656;
    }

    .table>tbody>tr.success>td {
      background-color: rgba(144, 185, 0, 0.7);
      color: #ffffff;
      border: none;
    }

    .table>tbody>tr.success>td a.email-link {
      color: #ffffff;
    }

    .table>tbody>tr.success>td a.email-link:hover {
      color: #e85656;
    }

    .table>tbody>tr.warning>td {
      background-color: rgba(223, 184, 28, 0.7);
      color: #ffffff;
      border: none;
    }

    .table>tbody>tr.warning>td a.email-link {
      color: #ffffff;
    }

    .table>tbody>tr.warning>td a.email-link:hover {
      color: #e85656;
    }

    .table>tbody>tr.danger>td {
      background-color: rgba(232, 86, 86, 0.7);
      color: #ffffff;
      border: none;
    }

    .table>tbody>tr.danger>td a.email-link {
      color: #ffffff;
    }

    .table>tbody>tr.danger>td a.email-link:hover {
      color: #e85656;
    }

    .table>tbody>tr.info>td {
      background-color: rgba(45, 172, 209, 0.7);
      color: #ffffff;
      border: none;
    }

    .table>tbody>tr.info>td a.email-link {
      color: #ffffff;
    }

    .table>tbody>tr.info>td a.email-link:hover {
      color: #e85656;
    }

    .editable-click,
    a.editable-click {
      color: #73879C;
      border-bottom: dashed 1px #d6d6d6;
    }

    th {
      font-weight: 400;
    }

    .editable-empty {
      color: #c54949;
    }

    .table>tbody>tr>th {
      border: none;
    }

    .table-responsive {
      margin-top: 10px;
    }

    .table thead {
      position: relative;
      overflow: hidden;
      font-weight: bold;
      background: #f3f3f3;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(1, #fff));
      background: -ms-linear-gradient(bottom, #eee, #fff);
      background: -moz-linear-gradient(center bottom, #eee 0, #fff 100%);
      background: -o-linear-gradient(#fff, #eee);
      filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
      -webkit-border-top-right-radius: -1px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: -1px;
      -moz-border-radius-topright: -1px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-topleft: -1px;
      border-top-right-radius: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: -1px;
      -moz-background-clip: padding-box;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }

    td {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }

    div.tooltip-inner {
      max-width: 1024px;
      white-space: nowrap;
    }
  </style>
</form>
