<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary tab-color">
            <h3 class="font-weight-bold">Détails du retour {{retour.numeroRetour}}</h3>
        </div>
        <div class="card-body">
            <div class="row mt-1">
                <div class="col-md-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;N° retour </div>
                            <div class="profile-info-value font-weight-bold">{{retour.numeroRetour}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Réf. commande </div>
                            <div class="profile-info-value">{{retour.referenceCommand || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name small">&nbsp;Raison du retour </div>
                            <div class="profile-info-value small" ng-bind="retour.libelleStatutRaison">Non défini</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Commentaire retour </div>
                            <div class="profile-info-value">{{retour.commentaireRaisonRetour || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Statut </div>
                            <div class="profile-info-value">{{retour.libelleEtatRetour}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Etat emballage </div>
                            <div class="profile-info-value">{{retour.etatEmballage}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Client </div>
                            <div class="profile-info-value">{{retour.nomClient+' '+retour.prenomClient}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Produit </div>
                            <div class="profile-info-value">{{retour.libelleProduit}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Créé le </div>
                            <div class="profile-info-value">{{retour.createdAt | courte_date}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Dernière mise à jour </div>
                            <div class="profile-info-value" ng-bind="retour.updatedAt | courte_date">Non défini</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<style>
    .profile-user-info-striped {
        border: 1px solid #DCEBF7;
    }
    .profile-user-info {
        display: table;
        width: 98%;
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
        border-top: none;
    }
    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-name {
        text-align: left;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 150px;
        vertical-align: middle;
    }
    .profile-info-name, .profile-info-value {
        display: table-cell;
        border-top: 1px dotted #D5E4F1;
        vertical-align: middle;
        padding-left: 6px;
    }
    .profile-info-row {
        display: table-row;
    }
</style>