<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Gérer les retours&nbsp;
                <span class="badge badge-secondary badge-pill" data-toggle="tooltip" data-placement="right"
                      data-trigger="hover" data-original-title="{{totalRetours + (totalRetours > 1 ? ' commandes ' : ' commande') + ' au total'}}"
                      ng-bind="totalRetours" style="cursor: pointer">0</span></h3>
        </div>
        <div class="row mt-3" style="overflow-y: auto;" ng-style="{'height': windowHeightC}">
            <div class=" card-body mb-3 p-1">
                <div class="row p-2">
                    <div class="input-group col-md-12">
                        <!--tableau des retours-->
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <div class="clearfix mb-2 mt-1 mr-1">
                                    <div class="col-md-6 float-left">
                                        <!--recherche-->
                                        <form>
                                            <div class="input-group input-group-sm">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                                <input ng-model="criteria.numeroRetour" ng-change="searchRetours(criteria)" type="text" class="form-control input search font-italic" placeholder="Rechercher une Référence de retour...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <table class="table table-hover table-outline mb-0 hidden-sm-down animated fadeIn">
                                    <thead class="thead-light">
                                    <tr>
                                        <th class="text-center small font-weight-bold">
                                            <i class="fa fa-asterisk"></i>
                                        </th>
                                        <th class="small font-weight-bold text-center">Réf. de retour</th>
                                        <th class="small font-weight-bold text-center">N° commande</th>
                                        <th class="small font-weight-bold text-center">Client</th>
                                        <th class="small font-weight-bold text-center">Produit</th>
                                        <th class="small font-weight-bold text-center">Statut</th>
                                        <th class="small font-weight-bold text-center">Date d'ajout</th>
                                        <th class="small font-weight-bold text-center">Date de modification</th>
                                        <th class="text-center small font-weight-bold">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-show="totalRetours <= 0 || !totalRetours">
                                        <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="9">
                                            <i class="icon-social-dropbox"></i>&nbsp;Aucune donn&eacute;e disponible </td>
                                    </tr>
                                    <tr ng-repeat="r in retours" style="cursor: pointer">
                                        <td class="small text-center animated fadeIn">{{$index+1}}</td>
                                        <td class="small text-center animated fadeIn">{{r.numeroRetour}}</td>
                                        <td class="small text-center animated fadeIn">{{r.referenceCommand}}</td>
                                        <td class="small text-center animated fadeIn">{{r.nomClient+' '+r.prenomClient}}</td>
                                        <!--  + lieu de livraison -->
                                        <td class="small text-center animated fadeIn">{{r.libelleProduit}}</td>
                                        <td class="small text-center animated fadeIn">{{r.libelleEtatRetour}}</td>
                                        <td class="small text-center animated fadeIn">{{r.createdAt | courte_date}}</td>
                                        <td class="small text-center animated fadeIn">{{r.updatedAt | courte_date}}</td>
                                        <!--  + mode de paiement -->
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-CONSULTER-MODIFIER')"  ui-sref="app.suivis.retourDetails({id: {{::r.id}}, idChanel: {{::r.idChanel}}})" class="btn btn-outline-primary btn-sm" type="button" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Voir les détails">
                                                    <i class="icon-eye"></i>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-CONSULTER-ACTIVER')" >
                                                    <a ng-repeat="e in etatRetours" ng-click="actionUpdateRetour(r.id, e.id)" class="dropdown-item" href="#" ng-hide="e.id === r.idEtatRetour">{{e.libelle}}</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div ng-switch="searching">
                                    <div ng-switch-when="false">
                                        <div ng-show="totalRetours >= 6" class="pagination pagination-sm float-sm-right mt-3">
                                            <ul uib-pagination total-items="totalRetours" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeCommandes"
                                                ng-change="getRetoursCommande(currentPage -1,sizeRetours)" boundary-links="true" class="pagination-sm" rotate="true"
                                                force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                        </div>
                                    </div>
                                    <div ng-switch-when="true">
                                        <div ng-show="totalRetours >= 6" class="pagination pagination-sm float-sm-right mt-3">
                                            <ul uib-pagination total-items="totalRetours" ng-model="currentPageS" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeCommandes"
                                                ng-change="searchRetours(criteria,currentPageS -1,sizeRetours)" boundary-links="true" class="pagination-sm"
                                                rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
