<div class="animated fadeIn">
    <div class="email-app mb-4">
        <nav>
            <label class="btn btn-primary btn-block font-weight-bold" disabled="true" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">Menu</label>
            <ul class="nav nav-pills">
                <li class="nav-item animated fadeIn" style="cursor: pointer" ui-sref="app.ecommerciaux.demandeurs" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer"><i class="fa fa-users"></i>&nbsp;Demandeurs</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.ecommerciaux.geolocalisationStatut" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer"><i class="fa fa-map-marker"></i>&nbsp;Géo par statut</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.ecommerciaux.geolocalisationLocalite"  ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" href="#"><i class="fa fa-map"></i>&nbsp;Géo par localité</a>
                </li>
            </ul>
        </nav>
        <main class="message">
            <div class="details">
                <div class="content" ui-view="ec_sub_menu"></div>
            </div>
        </main>
    </div>
</div>

<!--Les modaux-->

<div id="abonneInfo" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-info" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="fa fa-id-card-o fa-1x"></i>&nbsp;|&nbsp;Informations sur {{demandeur.nomAbonne + ' ' + demandeur.prenomAbonne}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Fermer">
                    <span aria-hidden="true" class="text-dark"><i class="fa fa-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert text-center" ng-class="getStatusAlert(demandeur).status" role="alert">
                    <i ng-class="getStatusAlert(demandeur).icon"></i>&nbsp;&nbsp;{{getStatusAlert(demandeur).message}}
                    <div class="float-right" ng-if="statutDemande === 0">
                        <button ng-click="decisionDemand(abonneDetails.demande, 'accept')" type="button" class="btn btn-outline-success btn-sm" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Valider sa demande"><i class="fa fa-check"></i><span ng-if="demande.loadSpinAccept" class="animated fadeIn">&nbsp;&nbsp;<i class="fa-spin fa fa-spinner"></i></span></button> <!--ng-click="decisionDemand(abonneDetails.demande, 'reject')"--> <!--a mettre dans rejet-->
                        <button type="button" class="btn btn-outline-danger btn-sm" ng-click="showPopoverMotifRejet()" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Rejeter sa demande "><i class="fa fa-close"></i><span ng-if="demande.loadSpinReject" class="animated fadeIn">&nbsp;&nbsp;<i class="fa-spin fa fa-spinner"></i></span></button>
                    </div>
                </div>
                <div class="animated fadeIn" ng-include="'app/e-commerciaux/views/abonne/abonne-infos-popup.html'"></div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="icon icon-ban"></i>&nbsp;Fermer</button>
            </div>-->
        </div>
    </div>
</div>

<div id="motifRejet" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-danger" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="icon-note"></i>&nbsp;|&nbsp;Motif du rejet</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-shield"></i></span>
                            <textarea ng-model="abonneDetails.demande.motifRejet" type="text" class="form-control" placeholder="Saisir le motif du rejet ici..." rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" ng-click="decisionDemand(abonneDetails.demande, 'reject')"><i class="icon-check"></i>&nbsp;Confirmer</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="icon icon-ban"></i>&nbsp;Fermer</button>
            </div>
        </div>
    </div>
</div>

<style>
    .selected{
        background: #e4e5e6;
    }
    li.active>a {
        /*color: #FFF !important;
        background-color: #FF6600 !important;
        !* background-color: #8F8F8F !important; *!
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(248, 85, 0, 0.4);
        font-weight: 500;*/
        z-index: 2;
        color: #fff !important;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);
        background-color: #267491;
        border-color: #267491;
    }
</style>
