<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Validations</h3>
        </div>
        <div class="row mt-3">
            <div class=" card-body mb-3 p-1">
                <div class="row p-2">
                    <div class="card-body ml-0">

                        <div class="clearfix" ng-show="globals.currentUser.chanelUserInfos.isRoot || can('UTILISATEURS-CONSULTER')">
                            <div class="float-left">
                                <span class="text-muted font-weight-bold">Liste des publications en attente</span>
                            </div>
                            <div class="float-right mb-2 col-md-6" style="padding-right: 0!important;">
                                <!--<div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    <input ng-model="criteria.login" ng-change="searchUsers(criteria)" type="text" class="form-control input search font-italic small" placeholder="Rechercher une publication par son libellé...">
                                </div>-->
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input date-range-picker options="options" ng-model="datePicker" type="text" class="form-control form-control-sm date-picker" placeholder="selectionnez une période..." readonly/>
                                    <span ng-click="searchPublications(datePicker)" class="btn small btn-outline-info ml-1" style="cursor: pointer">Afficher</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 p-0" style="overflow-y: auto; height: -webkit-fill-available">
                            <table class="table table-sm table-hover table-striped mb-0 hidden-sm-down">
                                <thead class="thead-light">
                                <tr>
                                    <th class="text-center small font-weight-bold"><i class="fa fa-asterisk"></i></th>
                                    <th class="text-center small font-weight-bold">Libellé</th>
                                    <th class="text-center small font-weight-bold">En attente</th>
                                    <th class="text-center small font-weight-bold">Date création</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="!publications">
                                    <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="4"><i class="icon-social-dropbox
"></i>&nbsp;Aucune donn&eacute;e disponible </td>
                                </tr>
                                <tr ng-repeat-start="p in publications">
                                    <td class="text-center">
                                        <button ng-if="p.expanded" ng-click="p.expanded = false">-</button>
                                        <button ng-if="!p.expanded" ng-click="p.expanded = true; loadTypePublication(p.id)">+</button>
                                    </td>
                                    <td class="text-center small">{{p.libelle}}</td>
                                    <td class="text-center small">{{p.createdAt | date_relative}}</td>
                                    <td class="text-center small">{{p.createdAt | longue_date}}</td>
                                </tr>

                                <tr ng-if="p.expanded" ng-repeat-end>
                                    <td colspan="4">
                                        <div class="card-deck">
                                            <div class="card" ng-class="{ 'mr-0': tp.type !== 'text', 'card-accent-primary': tp.isValid === undefined, 'card-accent-danger': tp.isValid === false, 'card-accent-success': tp.isValid === true }" ng-repeat="tp in typePublications" style="max-width: 300px">
                                                <div ng-if="tp.type === 'image'" class="card-header text-center font-weight-bold small">{{tp.libelle}}</div>
                                                <div ng-if="tp.type === 'video'" class="card-header text-center font-weight-bold small">{{tp.libelle}}</div>
                                                <div ng-if="tp.type === 'audio'" class="card-header text-center font-weight-bold small">{{tp.libelle}}</div>
                                                <div ng-if="tp.type === 'text'" class="card-header text-center font-weight-bold small">Texte</div>
                                                <img ng-if="tp.type === 'image'" class="card-img-top pl-2 pr-2 pt-2" src="{{tp.lien}}" alt="image-pub">
                                                <video ng-if="tp.type === 'video'" controls src="{{tp.lien}}" class="pl-2 pr-2 pt-2 card-img-top animated fadeIn text-center"></video>
                                                <div class="card-body">
                                                    <audio ng-if="tp.type === 'audio'" controls src="{{tp.lien}}" class="card-img-top animated fadeIn text-center"></audio>
                                                    <!--<small ng-if="!(tp.type === 'text')" class="card-title">{{tp.libelle}}</small>-->
                                                    <p ng-if="tp.type === 'text'" ta-bind ng-model="tp.libelle"  style="overflow-y: auto;" ng-style="{'height': 250}" class="card-text small animated fadeIn"></p>
                                                </div>
                                                <div class="card-footer text-center">
                                                    <button ng-disabled="{{tp.isValid === true}}" ng-click="decisionTypePublication(p.id, tp, 'accept')" class="btn btn-sm btn-outline-success mr-3" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Valider {{tp.type === 'text' ? 'le texte' : tp.libelle}}" style="cursor: pointer"><i class="fa fa-check"></i></button>
                                                    <button ng-disabled="{{tp.isValid === false}}" ng-click="showModalRejectPub(p.id, tp)" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Rejeter {{tp.type === 'text' ? 'le texte' : tp.libelle}}" style="cursor: pointer"><i class="fa fa-close"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-switch="searching">
                                <div ng-switch-when="false">
                                    <div ng-show="totalPublications >= 5" class="pagination pagination-sm float-sm-right mt-3">
                                        <ul uib-pagination total-items="totalPublications" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizePublication" ng-change="getFullPublications(currentPage -1,sizePublication)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                    </div>
                                </div>
                                <div ng-switch-when="true">
                                    <div ng-show="totalPublications >= 5" class="pagination pagination-sm float-sm-right mt-3">
                                        <ul uib-pagination total-items="totalPublications" ng-model="currentPageS" max-size="max_size" boundary-link-numbers="true" items-per-page="sizePublication" ng-change="searchPublications(criteria, currentPageS -1,sizePublication)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
