<div class="row" style="overflow-y: auto;" ng-style="{'height': windowHeightC}">
    <!--Liste des éléments de publication-->
    <div class="col-md-8">
        <div class="table-responsive">
            <table class="table table-sm table-hover table-outline mb-0 hidden-sm-down">
                <thead class="thead-light">
                <tr>
                    <th class="small font-weight-bold"></th>
                    <th class="text-center small font-weight-bold">Fichier</th>
                    <th class="small font-weight-bold text-center">Prix (F CFA)</th>
                    <th class="small font-weight-bold text-center">Taille (Ko)</th>
                    <th class="small font-weight-bold text-center">Coût (F CFA)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">Vidéo</td>
                    <td class="text-center">
                        <span class="btn btn-sm" ng-class="(publication.video ? 'btn-success' : 'btn-primary')" ngf-select ng-model="publication.video" name="video" ngf-pattern="'video/*'" ngf-accept="'video/*'" ngf-max-size="50MB" ngf-min-height="100" style="cursor: pointer" ng-disabled="false"><i class="icon-options" ng-class="(publication.video ? 'icon-camrecorder' : 'icon-options')"></i></span>
                    </td>
                    <td class="small text-center">100/Ko</td>
                    <td class="small text-center">{{ (converteOctet2Ko(publication.video.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                    <td class="small text-center">{{ (getPrice(publication.video.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                </tr>
                <tr>
                    <td class="text-center">Image</td>
                    <td class="text-center">
                        <span class="btn btn-sm" ng-class="(publication.image ? 'btn-success' : 'btn-primary')" onclick="document.getElementById('image').click()" style="cursor: pointer"><i class="icon-options" ng-class="(publication.image ? 'icon-picture' : 'icon-options')"></i></span>
                        <input ng-show="false" ngf-select ng-model="publication.image" name="logo" type="file" accept="image/*" class="form-control form-control-sm" id="image" ng-disabled="false">
                    </td>
                    <td class="small text-center">100/Ko</td>
                    <td class="small text-center">{{ (converteOctet2Ko(publication.image.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                    <td class="small text-center">{{ (getPrice(publication.image.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                </tr>
                <tr>
                    <td class="text-center">Audio</td>
                    <td class="text-center">
                        <span class="btn btn-sm" ng-class="(publication.audio ? 'btn-success' : 'btn-primary')" ngf-select ng-model="publication.audio" name="audio" ngf-pattern="'audio/*'" ngf-accept="'audio/*'" ngf-max-size="10MB" ngf-min-height="100" style="cursor: pointer"><i class="icon-options" ng-class="(publication.audio ? 'icon-control-play' : 'icon-options')" ng-disabled="modifyingPub && !(modifyingPub.typePublicationDtos[1].type === 'audio') && (modifyingPub.typePublicationDtos[2].isValid || !modifyingPub.typePublicationDtos[2].isValid)"></i></span>
                    </td>
                    <td class="small text-center">100/Ko</td>
                    <td class="small text-center">{{ (converteOctet2Ko(publication.audio.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                    <td class="small text-center">{{ (getPrice(publication.audio.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                </tr>
                <tr>
                    <td class="text-center">Texte</td>
                    <td class="text-center">
                        <span ng-click="showDialogText()" class="btn btn-sm" ng-class="(publication.texte ? 'btn-success' : 'btn-primary')" ng-model="publication.texte" style="cursor: pointer"><i class="icon-options" ng-class="(publication.texte ? 'icon-doc' : 'icon-options')" ng-disabled="modifyingPub && !(modifyingPub.typePublicationDtos[3].type === 'text') && (modifyingPub.typePublicationDtos[3].isValid || !modifyingPub.typePublicationDtos[3].isValid)"></i></span>
                    </td>
                    <td class="small text-center">100/Ko</td>
                    <td class="small text-center">{{ (converteOctet2Ko(publication.texte.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                    <td class="small text-center">{{ (getPrice(publication.texte.size) || 0) | awnum:false:false:false:false:true:' ':false:false }}</td>
                </tr>
                </tbody>
                <tfoot class="thead-light">
                    <tr>
                        <th class="small font-weight-bold"></th>
                        <th class="text-center small font-weight-bold"></th>
                        <th class="small font-weight-bold text-center">Total</th>
                        <th class="small font-weight-bold text-center">{{ ((converteOctet2Ko(publication.video.size) + converteOctet2Ko(publication.image.size) + converteOctet2Ko(publication.audio.size)) || 0) | awnum:false:false:false:false:true:' ':false:false }}</th>
                        <th class="small font-weight-bold text-center">{{ ((getPrice(publication.video.size) + getPrice(publication.image.size) + getPrice(publication.audio.size)) || 0) | awnum:false:false:false:false:true:' ':false:false }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4 offset-4 mt-5">
            <span ng-click="!modifyingPub ? sendPublication(publication) : sendModifiyingPublication(publication, modifyingPub)" class="btn btn-block btn-success" style="cursor: pointer">Soumettre</span>
        </div>
    </div>

    <!--preview-->
    <div class="col-md-4" style="margin-top: 0 !important;">
        <div ng-hide="true" class="text-center text-muted font-weight-bold font-italic font-2xl mt-0" style="color: #d4d7d8">Prévisualisation</div>

        <div style="overflow-y: auto;" ng-style="{'height': 450}">
            <!--Pour la video-->
            <div class="mb-2">

                <!--video-->
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'video'" class="font-weight-bold font-xs">{{publication.video.name || modifyingPub.typePublicationDtos[0].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'video'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[0].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[0].isValid ? 'validé' : 'invalidé' }}</span>
                <video ng-if="publication.video || modifyingPub.typePublicationDtos[0].type === 'video'" class="image-border animated fadeIn text-center" controls ngf-src="publication.video || modifyingPub.typePublicationDtos[0].lien"></video>

                <!--image-->
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'image'" class="font-weight-bold font-xs">{{publication.image.name || modifyingPub.typePublicationDtos[0].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'image'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[0].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[0].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="modifyingPub.typePublicationDtos[0].type === 'image'"/>
                <img ng-if="modifyingPub.typePublicationDtos[0].type === 'image'" ngf-thumbnail="publication.image || modifyingPub.typePublicationDtos[0].lien" alt="logo" class="image-border animated fadeIn text-center">

                <!--audio-->
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'audio'" class="font-weight-bold font-xs">{{publication.audio.name || modifyingPub.typePublicationDtos[0].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'audio'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[0].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[0].isValid ? 'validé' : 'invalidé' }}</span>
                <audio ng-if="modifyingPub.typePublicationDtos[0].type === 'audio'" class="animated fadeIn" controls ngf-src="publication.audio || modifyingPub.typePublicationDtos[0].lien"></audio>

                <!--texte-->
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'text'" class="font-weight-bold font-xs">Texte</span>
                <span ng-if="modifyingPub.typePublicationDtos[0].type === 'text'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[0].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[0].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="modifyingPub.typePublicationDtos[0].type === 'text'"/>
                <div ng-if="modifyingPub.typePublicationDtos[0].type === 'text'" ta-bind ng-model="modifyingPub.typePublicationDtos[0].libelle" class="image-border animated fadeIn"></div>

            </div>

            <!--Pour l'image-->
            <div class="mb-2">

                <!--video-->
                <span ng-if="modifyingPub.typePublicationDtos[1].type === 'video'" class="font-weight-bold font-xs">{{publication.video.name || modifyingPub.typePublicationDtos[1].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[1].type === 'video'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[1].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[1].isValid ? 'validé' : 'invalidé' }}</span>
                <video ng-if="modifyingPub.typePublicationDtos[1].type === 'video'" class="image-border animated fadeIn text-center" controls ngf-src="publication.video || modifyingPub.typePublicationDtos[1].lien"></video>

                <!--image-->
                <span ng-if="publication.image || modifyingPub.typePublicationDtos[1].type === 'image'" class="font-weight-bold font-xs">{{publication.image.name || modifyingPub.typePublicationDtos[1].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[1].type === 'image'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[1].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[1].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="publication.image || modifyingPub.typePublicationDtos[1].type === 'image'"/>
                <img ngf-thumbnail="publication.image || modifyingPub.typePublicationDtos[1].lien" alt="logo" class="image-border animated fadeIn text-center">

                <!--audio-->
                <span ng-if="modifyingPub.typePublicationDtos[1].type === 'audio'" class="font-weight-bold font-xs">{{publication.audio.name || modifyingPub.typePublicationDtos[1].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[1].type === 'audio'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[1].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[1].isValid ? 'validé' : 'invalidé' }}</span>
                <audio ng-if="modifyingPub.typePublicationDtos[1].type === 'audio'" class="animated fadeIn" controls ngf-src="publication.audio || modifyingPub.typePublicationDtos[1].lien"></audio>

                <!--texte-->
                <span ng-if="modifyingPub.typePublicationDtos[1].type === 'text'" class="font-weight-bold font-xs">Texte</span>
                <span ng-if="modifyingPub.typePublicationDtos[1].type === 'text'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[1].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[1].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="modifyingPub.typePublicationDtos[1].type === 'text'"/>
                <div ng-if="modifyingPub.typePublicationDtos[1].type === 'text'" ta-bind ng-model="modifyingPub.typePublicationDtos[1].libelle" class="image-border animated fadeIn"></div>

            </div>

            <!--Pour l'audio-->
            <div class="mb-2">

                <!--video-->
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'video'" class="font-weight-bold font-xs">{{publication.video.name || modifyingPub.typePublicationDtos[2].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'video'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[2].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[2].isValid ? 'validé' : 'invalidé' }}</span>
                <video ng-if="modifyingPub.typePublicationDtos[2].type === 'video'" class="image-border animated fadeIn text-center" controls ngf-src="publication.video || modifyingPub.typePublicationDtos[2].lien"></video>

                <!--image-->
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'image'" class="font-weight-bold font-xs">{{publication.image.name || modifyingPub.typePublicationDtos[2].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'image'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[2].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[2].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="modifyingPub.typePublicationDtos[2].type === 'image'"/>
                <img ng-if="modifyingPub.typePublicationDtos[2].type === 'image'" ngf-thumbnail="publication.image || modifyingPub.typePublicationDtos[2].lien" alt="logo" class="image-border animated fadeIn text-center">

                <!--audio-->
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'audio'" class="font-weight-bold font-xs">{{publication.audio.name || modifyingPub.typePublicationDtos[2].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'audio'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[2].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[2].isValid ? 'validé' : 'invalidé' }}</span>
                <audio ng-if="publication.audio || modifyingPub.typePublicationDtos[2].type === 'audio'" class="animated fadeIn" controls ngf-src="publication.audio || modifyingPub.typePublicationDtos[2].lien"></audio>

                <!--texte-->
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'text'" class="font-weight-bold font-xs">Texte</span>
                <span ng-if="modifyingPub.typePublicationDtos[2].type === 'text'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[2].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[2].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="modifyingPub.typePublicationDtos[2].type === 'text'"/>
                <div ng-if="modifyingPub.typePublicationDtos[2].type === 'text'" ta-bind ng-model="modifyingPub.typePublicationDtos[2].libelle" class="image-border animated fadeIn"></div>

            </div>

            <!--Pour le texte-->
            <div class="mb-2">

                <!--video-->
                <span ng-if="modifyingPub.typePublicationDtos[3].type === 'video'" class="font-weight-bold font-xs">{{publication.video.name || modifyingPub.typePublicationDtos[3].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[3].type === 'video'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[3].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[3].isValid ? 'validé' : 'invalidé' }}</span>
                <video ng-if="modifyingPub.typePublicationDtos[3].type === 'video'" class="image-border animated fadeIn text-center" controls ngf-src="publication.video || modifyingPub.typePublicationDtos[3].lien"></video>

                <!--image-->
                <span ng-if="modifyingPub.typePublicationDtos[3].type === 'image'" class="font-weight-bold font-xs">{{publication.image.name || modifyingPub.typePublicationDtos[3].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[3].type === 'image'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[3].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[3].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="modifyingPub.typePublicationDtos[3].type === 'image'"/>
                <img ng-if="modifyingPub.typePublicationDtos[3].type === 'image'" ngf-thumbnail="publication.image || modifyingPub.typePublicationDtos[3].lien" alt="logo" class="image-border animated fadeIn text-center">

                <!--audio-->
                <span ng-if="modifyingPub.typePublicationDtos[3].type === 'audio'" class="font-weight-bold font-xs">{{publication.audio.name || modifyingPub.typePublicationDtos[3].libelle}}</span>
                <span ng-if="modifyingPub.typePublicationDtos[3].type === 'audio'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[3].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[3].isValid ? 'validé' : 'invalidé' }}</span>
                <audio ng-if="modifyingPub.typePublicationDtos[3].type === 'audio'" class="animated fadeIn" controls ngf-src="publication.audio || modifyingPub.typePublicationDtos[3].lien"></audio>

                <!--texte-->
                <span ng-if="publication.texte || modifyingPub.typePublicationDtos[3].type === 'text'" class="font-weight-bold font-xs">Texte</span>
                <span ng-if="modifyingPub.typePublicationDtos[3].type === 'text'" class="badge badge-pill" ng-class="modifyingPub.typePublicationDtos[3].isValid ? 'badge-success' : 'badge-danger'">{{ modifyingPub.typePublicationDtos[3].isValid ? 'validé' : 'invalidé' }}</span>
                <br ng-if="publication.texte || modifyingPub.typePublicationDtos[3].type === 'text'"/>
                <div ng-if="publication.texte || modifyingPub.typePublicationDtos[3].type === 'text'" ta-bind ng-model="texte || modifyingPub.typePublicationDtos[3].libelle" class="image-border animated fadeIn"></div>

            </div>
        </div>
    </div>
</div>