<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">
            <h3 class="font-weight-bold">Gérer les sous fonctionnalités&nbsp;<span class="badge badge-secondary badge-pill" ng-bind="totaSousFonctionnalites">0</span></h3>
        </div>
        <!--<div class="mt-3 text-center text-muted font-weight-bold font-italic font-2xl" style="color: #d4d7d8">Aucune demande disponible pour l'instant</div>-->
        <div class="row mt-3" style="overflow-y: auto;" ng-style="{'height': windowHeightC}">
            <div class=" card-body mb-3 p-1">
                <div class="row p-2">
                    <div class="col-md-5">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <span class="form-text small text-muted">Libellé</span>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    <input ng-model="sf.libelle" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <span class="form-text small text-muted">Fonctionnalité parente</span>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-badge"></i></span>
                                    <select ng-model="sf.idPermission" class="form-control form-control-sm">
                                        <option ng-repeat="fa in fonctionnalitesActions" value="{{fa.id}}">{{fa.libelle}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <button ng-click="createSousFonctionnalite(sf)" class="btn btn-outline-success btn-sm">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-2">
                    <div class="input-group col-md-12">
                        <!--tableau des profils-->
                        <div class="table-responsive">
                            <div class="clearfix mb-2 mt-1 mr-1">
                                <h6 class="float-left">Liste des sous fonctionnalités</h6>
                            </div>
                            <table class="table table-hover table-outline mb-0 hidden-sm-down animated fadeIn">
                                <thead class="thead-light">
                                <tr>
                                    <th class="text-center small font-weight-bold"><i class="fa fa-asterisk"></i></th>
                                    <th class="small font-weight-bold">Libellé</th>
                                    <th class="small font-weight-bold">Parent</th>
                                    <th class="small font-weight-bold text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-show="totaSousFonctionnalites <= 0 || !totaSousFonctionnalites">
                                    <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="4"><i class="icon-social-dropbox
"></i>&nbsp;Aucune donn&eacute;e disponible </td>
                                </tr>
                                <tr ng-repeat="sf in sousFonctionnalites">
                                    <td class="text-center animated fadeIn">{{$index+1}}</td>
                                    <td class="animated fadeIn">{{sf.libelle}}</td>
                                    <td class="animated fadeIn">{{sf.libellePermission}}</td>
                                    <td class="text-right">
                                        <button ng-click="showSousFonctionnalite(sf)" class="btn btn-outline-primary btn-sm" type="button">
                                            <i class="icon-pencil"></i>
                                        </button>
                                        <button ng-click="deleteSousFonctionnalite(sf)" class="btn btn-outline-danger btn-sm" type="button">
                                            <i class="icon-close"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="totaSousFonctionnalites > 5" class="pagination pagination-sm float-sm-right mt-3">
                                <ul uib-pagination total-items="totaSousFonctionnalites" ng-model="currentPage" max-size="max_size" boundary-link-numbers="true" items-per-page="sizeSF" ng-change="getSousFonctionnalite(currentPage -1,sizeSF)" boundary-links="true" class="pagination-sm" rotate="true" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
