<div class="animated fadeIn">
    <div class="email-app mb-4">
        <nav>
            <label class="btn btn-primary btn-block font-weight-bold" disabled="true" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">Menu</label>
            <ul class="nav nav-pills">
                <li class="nav-item animated fadeIn" style="cursor: pointer" ui-sref="app.utilisateurs.users" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer"><i class="fa fa-users"></i>&nbsp;Utilisateurs</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.utilisateurs.profils" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer"><i class="fa fa-vcard-o"></i>&nbsp;Profils</a>
                </li>
                <!--A supprimer après avoir saisie toutes les fonctionnalités de l'application-->
                <li ng-if="true" class="nav-item animated fadeIn" ui-sref="app.utilisateurs.fonctionnalites" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer"><i class="fa fa-vcard-o"></i>&nbsp;Fonctionnalités</a>
                </li>
            </ul>
        </nav>
        <main class="message">
            <div class="details">
                <div class="content" ui-view="ec_sub_menu">
                    Utilisateurs - A la création on lui attribue des rôles

                    chanel_permissions = Fonctionnalités
                    chanel_user_permissions =
                    permission_actions =
                    permission_profil = Roles - On definit les permissions et les sous permissions(permission_actions) Ex. Admin,...
                </div>
            </div>
        </main>
    </div>
</div>

<div id="edit-user" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="icon-pencil"></i>&nbsp;|&nbsp;Modifier&nbsp;{{editingUserTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Fermer">
                    <span aria-hidden="true" class="text-dark"><i class="fa fa-close"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <form name="userFrm" ng-submit="updateUser(editingUser)" class="ng-pristine ng-invalid ng-invalid-required" autocomplete="off" novalidate>

                    <div class="row" style="padding-top: 0!important;">
                        <div class="col-md-12 text-center">
                            <span class="small" style="color: #f86c6b;">&nbsp;* Champ obligatoire</span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <span class="form-text small text-muted">Identifiant<span style="color: #f86c6b">&nbsp;*</span></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input enter-key="updateUser(editingUser)" ng-model="editingUser.login" type="text" name="login" class="form-control form-control-sm" placeholder="" limit-char-to="255" only-alpha-numeric required autofocus>
                            </div>
                            <div ng-messages="userFrm.login.$error" ng-if="userFrm.$submitted" class="animated shake">
                                <small class="text-danger" ng-message="required">L'identifiant est requis</small>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <span class="form-text small text-muted">Profil<span style="color: #f86c6b">&nbsp;*</span></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <select ng-model="editingUser.idProfil" class="form-control form-control-sm">
                                    <option ng-selected="editingUser.idProfil === p.id" ng-repeat="p in profils" value="{{p.id}}">{{p.libelle}}</option>
                                </select>
                            </div>
                            <div ng-messages="userFrm.login.$error" ng-if="userFrm.$submitted && !userFormSubmited" class="animated shake">
                                <small class="text-danger" ng-message="required">L'identifiant est requis</small>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="form-text small text-muted">Nom</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                <input enter-key="updateUser(editingUser)" ng-model="editingUser.nom" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255" only-alpha-numeric>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="form-text small text-muted">Prénom(s)</span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                <input enter-key="updateUser(editingUser)" ng-model="editingUser.prenoms" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="form-text small text-muted">Email<span style="color: #f86c6b">&nbsp;*</span></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-puzzle"></i></span>
                                <input enter-key="updateUser(editingUser)" ng-model="editingUser.email" type="text" name="email" class="form-control form-control-sm" placeholder="" limit-char-to="255" required>
                            </div>
                            <div ng-messages="userFrm.email.$error" ng-if="userFrm.$submitted" class="animated shake">
                                <small class="text-danger" ng-message="required">L'email est requis</small>
                            </div>
                        </div>
                    </div>

                    <hr class="bg-primary">

                    <div class="text-right">
                        <button type="reset" data-dismiss="modal" class="btn btn-outline-secondary px-3 btn-sm"><i class="icon-ban font-weight-bold"></i>&nbsp;Fermer</button>
                        <button type="submit" ng-disabled="userFrm.$invalid" class="btn btn-outline-success px-3 btn-sm"><i class="icon-check font-weight-bold"></i>&nbsp;Valider</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="edit-sf" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="icon-note"></i>&nbsp;|&nbsp;Modifier {{editingSFTitle.libelle}}</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <span class="form-text small text-muted">Libellé</span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            <input ng-model="editingSF.libelle" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <span class="form-text small text-muted">Fonctionnalité parente</span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-badge"></i></span>
                            <select ng-model="editingSF.idPermission" class="form-control form-control-sm">
                                <option ng-selected="editingSF.idPermission === fa.id" ng-repeat="fa in fonctionnalitesActions" value="{{fa.id}}">{{fa.libelle}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="icon icon-ban"></i>&nbsp;Fermer</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="updateSousFonctionnalite(editingSF)"><i class="icon-check"></i>&nbsp;Valider</button>
            </div>
        </div>
    </div>
</div>

<div id="add-profil" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" ng-controller="profilsCtrl">
    <div class="modal-dialog modal-lg modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="icon-note"></i>&nbsp;|&nbsp;Ajouter un profil</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="small" style="color: #f86c6b;">&nbsp;* Champ obligatoire</span>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <span class="form-text small text-muted">Libellé du profil<span style="color: #f86c6b">&nbsp;*</span></span>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    <input ng-model="profil.libelle" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" ng-show="false">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <span class="form-text small text-muted">Identifiant<span style="color: #f86c6b">&nbsp;*</span></span>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-badge"></i></span>
                                    <select ng-model="profil.idUser" class="form-control form-control-sm">
                                        <option ng-repeat="u in users" value="{{u.id}}">{{u.login + ' (' + (u.nom ? u.nom : 'Aucun nom') +')'}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-white bg-success">
                        <h4 class="text-center text-weight-font">Permissions</h4>
                    </div>
                    <div class="card-body" style="overflow-y: auto; height: 400px">
                        <div id="jstreeContainer" js-tree="treeConfig" ng-model="treeData" tree="treeInstance"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" ng-click="closeModalAdd()" data-dismiss="modal"><i class="icon icon-ban"></i>&nbsp;Fermer</button>
                <button type="button" class="btn btn-success btn-sm" ng-click="createProfil(profil)"><i class="icon-check"></i>&nbsp;Valider</button>
            </div>
        </div>
    </div>
</div>

<div id="edit-profil" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" ng-controller="profilsCtrl">
    <div class="modal-dialog modal-lg modal-primary" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold text-uppercase"><i class="icon-note"></i>&nbsp;|&nbsp;Modification de {{editingProfilTitle}}</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="small" style="color: #f86c6b;">&nbsp;* Champ obligatoire</span>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <span class="form-text small text-muted">Libellé du profil<span style="color: #f86c6b">&nbsp;*</span></span>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    <input ng-model="editingProfil.libelle" type="text" class="form-control form-control-sm" placeholder="" limit-char-to="255">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" ng-show="false">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <span class="form-text small text-muted">Identifiant<span style="color: #f86c6b">&nbsp;*</span></span>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="icon-badge"></i></span>
                                    <select ng-model="editingProfil.idUser" class="form-control form-control-sm">
                                        <option ng-repeat="u in users" value="{{u.id}}">{{u.login + ' (' + (u.nom ? u.nom : 'Aucun nom') +')'}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-white bg-success">
                        <h4 class="text-center text-weight-font">Permissions</h4>
                    </div>
                    <div class="card-body" style="overflow-y: auto; height: 400px">
                        <div id="jstreeContainerUpdate" js-tree="treeConfig" ng-model="treeData" tree="treeInstance" tree-events="ready:readyCB"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" ng-click="closeModalEdit()" data-dismiss="modal"><i class="icon icon-ban"></i>&nbsp;Fermer</button>
                <button type="button" class="btn btn-success btn-sm" ng-click="updateProfil(editingProfil)"><i class="icon-check"></i>&nbsp;Valider</button>
            </div>
        </div>
    </div>
</div>


<style>
    .selected{
        background: #e4e5e6;
    }
    li.active>a {
        /*color: #FFF !important;
        background-color: #FF6600 !important;
        !* background-color: #8F8F8F !important; *!
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(248, 85, 0, 0.4);
        font-weight: 500;*/
        z-index: 2;
        color: #fff !important;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);
        background-color: #267491;
        border-color: #267491;
    }
</style>