<div class="animated fadeIn">

    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary">
            <h3 class="font-weight-bold">Gestion des publications</h3>
        </div>

        <v-tabs class="vTabs--default mt-2" horizontal control="horizontalTabs" active="horizontalTabs.active">
            <v-tab ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-CREER')" id="tabH_1" aria-controls="pageV_1" class="text-uppercase font-weight-bold">
                {{ !modifyingPub ? 'Nouvelle publication' : 'Modification publication'}}
            </v-tab>
            <v-tab ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-IMPORTER')" id="tabH_2" aria-controls="pageV_2" class="text-uppercase font-weight-bold">
                Publications en attente&nbsp;<span class="badge badge-danger badge-pill">{{totalPublications}}</span>
            </v-tab>
        </v-tabs>

        <v-pages class="vPages--default" active="horizontalTabs.active">
            <v-page ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-CREER')" id="pageH_1" aria-labelledby="tabH_1">
                <div class="card-body" style="overflow-y: auto;" ng-style="{'height': windowHeightP}">
                    <div ng-include="'app/espace-publicitaire/views/publications/sub-views/new-publication.html'"></div>
                </div>
            </v-page>
            <v-page ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-IMPORTER')" id="pageH_2" aria-labelledby="tabH_2">
                <div class="card-body" style="overflow-y: auto;" ng-style="{'height': windowHeightP}">
                    <div ng-include="'app/espace-publicitaire/views/publications/sub-views/pending-publication.html'"></div>
                </div>
            </v-page>
        </v-pages>

    </div>
</div>


<style>
    .tab-color{
        z-index: 2;
        color: #fff !important;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);
        background-color: #267491;
        border-color: #267491;
    }
</style>