<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-header text-center text-white bg-primary tab-color">
            <h3 class="font-weight-bold">Détails de la commande {{commande.reference}}</h3>
        </div>

        <v-tabs class="vTabs--default mt-2" horizontal control="horizontalTabs" active="horizontalTabs.active">
            <!--<v-tab id="tabH_{{ ::page.id }}" aria-controls="pageV_{{ ::page.id }}" ng-repeat="page in pages" class="text-uppercase font-weight-bold text-white" ng-class="{'bg-secondary': page.id === 1}">
                {{::page.title}}
            </v-tab>-->

            <v-tab ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="tabH_1" aria-controls="pageV_1" class="font-weight-bold">
                Détails de commande
            </v-tab>
            <v-tab ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="tabH_2" aria-controls="pageV_2" class="font-weight-bold">
                Détails de paiement
            </v-tab>

            <v-tab ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="tabH_3" aria-controls="pageV_3" class="font-weight-bold">
                Détails de livraison
            </v-tab>

            <!--<v-tab ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="tabH_4" aria-controls="pageV_4" class="font-weight-bold">
                Produits
            </v-tab>-->
            <v-tab ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="tabH_5" aria-controls="pageV_5" class="font-weight-bold">
                Historique
            </v-tab>
        </v-tabs>

        <v-pages class="vPages--default" active="horizontalTabs.active">
            <v-page ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="pageH_1" aria-labelledby="tabH_1">
                <!--Détails de commande-->
                <div ng-include="'app/suivis/views/commandes/details/detail-commande.html'" style="overflow-y: auto;" ng-style="{'height': windowHeightP}"></div>
            </v-page>
            <v-page ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="pageH_2" aria-labelledby="tabH_2">
                <!--Détails de paiement-->
                <div ng-include="'app/suivis/views/commandes/details/detail-paiement.html'" style="overflow-y: auto;" ng-style="{'height': windowHeightP}"></div>
            </v-page>

            <v-page ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="pageH_3" aria-labelledby="tabH_3">
                <!--Détails de livraison-->
                <div ng-include="'app/suivis/views/commandes/details/detail-livraison.html'" style="overflow-y: auto;" ng-style="{'height': windowHeightP}"></div>
            </v-page>

            <!--<v-page ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="pageH_4" aria-labelledby="tabH_4">
                &lt;!&ndash;Produits&ndash;&gt;
                <div ng-include="'app/suivis/views/details/detail-produits.html'"></div>
            </v-page>-->
            <v-page ng-show="globals.currentUser.chanelUserInfos.isRoot || can('')" id="pageH_5" aria-labelledby="tabH_5">
                <!--Historique-->
                <div ng-include="'app/suivis/views/commandes/details/detail-historique.html'" style="overflow-y: auto;" ng-style="{'height': windowHeightP}"></div>
            </v-page>
        </v-pages>

    </div>
</div>

<style>
    .tab-color{
        z-index: 2;
        color: #fff !important;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);
        background-color: #267491;
        border-color: #267491;
    }

    .profile-user-info-striped {
        border: 1px solid #DCEBF7;
    }
    .profile-user-info {
        display: table;
        width: 98%;
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
        border-top: none;
    }
    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-name {
        text-align: left;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 150px;
        vertical-align: middle;
    }
    .profile-info-name, .profile-info-value {
        display: table-cell;
        border-top: 1px dotted #D5E4F1;
        vertical-align: middle;
        padding-left: 6px;
    }
    .profile-info-row {
        display: table-row;
    }
</style>
