<div class="animated fadeIn">
    <div class="email-app mb-4">
        <nav>
            <label class="btn btn-primary btn-block font-weight-bold" disabled="true" style="z-index: 2; color: #fff !important; box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);">Menu</label>
            <ul class="nav nav-pills">
                <li class="nav-item animated fadeIn" style="cursor: pointer" ui-sref="app.suivis.commandes" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-shopping-basket"></i>&nbsp;Commandes</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.suivis.ventes" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-diamond"></i>&nbsp;Ventes</a>
                </li>
                <li class="nav-item animated fadeIn" ui-sref="app.suivis.retour" ui-sref-active="active">
                    <a class="nav-link small font-weight-bold" style="cursor: pointer">
                        <i class="fa fa-undo"></i>&nbsp;Retours</a>
                </li>
            </ul>
        </nav>
        <main class="message">
            <div class="details">
                <div class="content" ui-view="svi_sub_menu"></div>
            </div>
        </main>
    </div>
</div>


<style>
    .selected {
        background: #e4e5e6;
    }

    li.active>a {
        /*color: #FFF !important;
        background-color: #FF6600 !important;
        !* background-color: #8F8F8F !important; *!
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(248, 85, 0, 0.4);
        font-weight: 500;*/
        z-index: 2;
        color: #fff !important;
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(32, 167, 216, 0.4);
        background-color: #267491;
        border-color: #267491;
    }
</style>