<!DOCTYPE html>
<html lang="fr" ng-app="app" id="container">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="e-commerce management">
  <meta name="author" content="steylo">
  <meta name="keyword" content="steylo">
  <link rel="shortcut icon" ng-href="{{globalsLogo.currentLogo.logoChanel.logo}}">
  <!--<link rel="shortcut icon" href="img/favicon.png">-->

  <title>Entreprise | Admin</title>

  <!-- Main styles for this application -->
  <link href="css/mystyle.css" rel="stylesheet">
  <link href="node_modules/animate.css/animate.min.css" rel="stylesheet">
  <link href="node_modules/angular-material/angular-material.min.css">
  <!--<link href="../node_modules/angular-toastr/dist/angular-toastr.css" rel="stylesheet">-->
  <link href="node_modules/angular-wizard/dist/angular-wizard.min.css" rel="stylesheet">
  <link href="bower_components/ng-notify/dist/ng-notify.min.css" rel="stylesheet">
  <link href="bower_components/angular-ui-select/dist/select.min.css" rel="stylesheet">
  <link href="bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
  <!--<link href="node_modules/jstree/dist/themes/default/style.min.css" rel="stylesheet">-->
  <link href="assets/css/flatty.css" rel="stylesheet">
  <link href="assets/css/bootstrap-formhelpers.min.css" rel="stylesheet">
  <link href="bower_components/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
  <link href="bower_components/textAngular/dist/textAngular.css" rel="stylesheet">
  <link href="bower_components/angularjs-slider/dist/rzslider.css" rel="stylesheet">
  <link href="bower_components/v-button/dist/v-button.min.css" rel="stylesheet">
  <link href="bower_components/v-modal/dist/v-modal.min.css" rel="stylesheet">
  <link href="bower_components/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
  <link href="bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="bower_components/slick-carousel/slick/slick-theme.css" rel="stylesheet">
  <link href="bower_components/angular-xeditable/dist/css/xeditable.min.css" rel="stylesheet">
  <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet">
  <link href="bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <link href="assets/css/v-tabs.min.css" rel="stylesheet">
  <link href="assets/css/jstreestyle.css" rel="stylesheet">

</head>

<!-- BODY options, add following classes to body to change options

  // Header options
  1. '.header-fixed'					- Fixed Header

  // Sidebar options
  1. '.sidebar-fixed'					- Fixed Sidebar
  2. '.sidebar-hidden'				- Hidden Sidebar
  3. '.sidebar-off-canvas'		- Off Canvas Sidebar
  4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
  5. '.sidebar-compact'			  - Compact Sidebar

  // Aside options
  1. '.aside-menu-fixed'			- Fixed Aside Menu
  2. '.aside-menu-hidden'			- Hidden Aside Menu
  3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

  // Breadcrumb options
  1. '.breadcrumb-fixed'			- Fixed Breadcrumb

  // Footer options
  1. 'footer-fixed'						- Fixed footer

-->

<body class="header-fixed sidebar-fixed sidebar-compact aside-menu-fixed aside-menu-hidden breadcrumb-fixed" style="position: fixed; width: -webkit-fill-available; height: -webkit-fill-available;">

  <!-- User Interface -->
  <ui-view class="app"></ui-view>

  <!-- Bootstrap and necessary plugins -->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- AngularJS -->
  <script src="bower_components/angular/angular.min.js"></script>

  <!-- AngularJS plugins -->
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
  <script src="node_modules/oclazyload/dist/ocLazyLoad.min.js"></script>
  <script src="node_modules/angular-breadcrumb/dist/angular-breadcrumb.min.js"></script>
  <script src="node_modules/angular-loading-bar/build/loading-bar.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
  <script src="node_modules/angular-wizard/dist/angular-wizard.min.js"></script>
  <script src="bower_components/jquery-backstretch/jquery.backstretch.min.js"></script>
  <script src="bower_components/angular-ui-mask/dist/mask.min.js"></script>
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="bower_components/ng-notify/dist/ng-notify.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
  <script src="bower_components/dropzone/dist/dropzone.js"></script>
  <script src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
  <script src="node_modules/jstree/dist/jstree.min.js"></script>
  <script src="node_modules/ng-js-tree/dist/ngJsTree.min.js"></script>
  <script src="bower_components/ladda/dist/spin.min.js"></script>
  <script src="bower_components/ladda/dist/ladda.min.js"></script>
  <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/moment/locale/fr.js"></script>

<!--
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYX1owXnaiQ8nFYqiRfSHGpPPNxQRhTRI"></script>

  <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
  <script src="bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>
  <script src="bower_components/textAngular/dist/textAngular.min.js"></script>
  <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
  <script src="bower_components/ckeditor/ckeditor.js"></script>
  <script src="bower_components/angular-ckeditor/angular-ckeditor.min.js"></script>
  <script src="bower_components/angular-ckeditor-placeholder/angular-ckeditor-placeholder.min.js"></script>
  <script src="bower_components/angular-dynamic-number/release/dynamic-number.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/v-button/dist/v-button.min.js"></script>
  <script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="bower_components/angular-material/angular-material.min.js"></script>
  <script src="bower_components/slick-carousel/slick/slick.min.js"></script>

  <script src="bower_components/v-modal/dist/v-modal.min.js"></script>
  <script src="bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
  <script src="node_modules/angular-permission/dist/angular-permission.min.js"></script>
  <script src="node_modules/angular-permission/dist/angular-permission-ui.min.js"></script>
  <script src="node_modules/angular-acl/angular-acl.min.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
  <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.min.js"></script>
  <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
  <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>

  <!--<script src='../bower_components/ngMask/dist/ngMask.min.js'></script>-->

  <!--assets-->
  <script src="assets/js/linq.min.js"></script>
  <script src="assets/js/humane.min.js"></script>
  <script src="assets/js/bootstrap-formhelpers.min.js"></script>
  <script src="assets/js/bootstrap-filestyle.min.js"></script>
  <script src="assets/js/v-tabs.min.js"></script>
  <script src="assets/js/FileSaver.js"></script>
  <script src="assets/js/money.min.js"></script>

  <!-- AngularJS CoreUI App scripts -->

  <script src="app/app.js"></script>
  <script src="app/routes.js"></script>

  <script src="app/commons/commons.module.js"></script>
  <script src="app/commons/utils/directives.js"></script>
  <script src="app/commons/pays/pays.service.js"></script>
  <script src="app/commons/secteur-activite/secteur-activite.service.js"></script>
  <script src="app/commons/chanel/chanel.service.js"></script>
  <script src="app/commons/utils/notifications.service.js"></script>
  <script src="app/commons/categories/categories.service.js"></script>
  <script src="app/commons/sous-categories/sous-categories.service.js"></script>
  <script src="app/commons/marque/marque.service.js"></script>
  <script src="app/commons/utils/filtre.js"></script>
  <script src="app/commons/notifications/notification.js"></script>
  <script src="app/commons/notifications/commandesNotification.js"></script>

  <!--Les modules-->
  <script src="app/e-commerciaux/e-commerciaux.module.js"></script>
  <script src="app/parametres/parametres.module.js"></script>
  <script src="app/produits/produits.module.js"></script>
  <script src="app/utilisateurs/utilisateurs.module.js"></script>
  <script src="app/profil/profil.module.js"></script>
  <script src="app/suivis/suivis.module.js"></script>
  <script src="app/espace-publicitaire/espace-publicitaire.module.js"></script>

  <!--Les controleurs non chargés dans $ocLazyLoad-->

  <script src="app/connexion/controllers/logoutCtrl.js"></script>
  <script src="app/utilisateurs/controllers/profilsCtrl.js"></script>

  <!--Les services non chargés dans $ocLazyLoad-->
  <script src="app/connexion/services/connexion.service.js"></script>
  <script src="app/commons/utils/modal.service.js"></script>
  <script src="app/e-commerciaux/services/demande-abonne.service.js"></script>
  <script src="app/suivis/services/commandes.service.js"></script>
  <script src="app/utilisateurs/services/fonctionnalite.service.js"></script>
  <script src="app/commons/utils/utilities.js"></script>
  <script src="app/widgets/dropzone/dropzone.js"></script>
  <script src="app/commons/statut-commande/statut-commande.js"></script>

</body>
</html>
