<div class="float-right mb-1">
    <span ng-show="globals.currentUser.chanelUserInfos.isRoot || can('PRODUITS-CONSULTER-EXPORTER')" ng-click="exporterCsv()" class="btn btn-sm btn-outline-info" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-original-title="Exporter au format CSV" style="cursor: pointer"><i class="fa fa-file-text-o"></i>&nbsp;Exporter en CSV</span>
</div>
<div class="table-responsive">
    <table class="table table-hover table-outline mb-0 hidden-sm-down animated fadeIn">
        <thead class="thead-light">
        <tr>
            <th class="text-center small font-weight-bold"><i class="fa fa-asterisk"></i></th>
            <th class="small font-weight-bold text-center">Date</th>
            <th class="small font-weight-bold text-center">Description</th>
            <th class="small font-weight-bold text-center">Montant (FCFA)</th>
            <th class="small font-weight-bold text-center">Methode de paiement</th>
            <th class="small font-weight-bold text-center">Statut</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="totalTransaction <= 0 || !totalTransaction">
            <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="6"><i class="icon-social-dropbox
"></i>&nbsp;Aucune donn&eacute;e disponible </td>
        </tr>
        <tr ng-repeat="t in transactions">
            <td class="text-center animated fadeIn">{{$index+1}}</td>
            <td class="small text-center animated fadeIn">{{t.date | courte_date}}</td>
            <td class="small text-center animated fadeIn">{{t.description}}</td>
            <td class="small text-center animated fadeIn">{{t.montant | awnum:false:false:false:false:true:' ':false:false}}</td>
            <td class="small text-center animated fadeIn">{{t.paymentMethod}}</td>
            <td class="small text-center animated fadeIn">{{t.status}}</td>
        </tr>
        </tbody>
    </table>
</div>