
<div class="animated fadeIn">

    <div class="card-body">

        <!--Champs pour ajouter un user-->
        <div ng-show="globals.currentUser.chanelUserInfos.isRoot || can('UTILISATEURS-CREER')" class="card card-body">
            <form name="userFrm" ng-submit="updateCommande(commande)" class="ng-pristine ng-invalid ng-invalid-required" autocomplete="off" novalidate>

                <h6 class="text-muted font-weight-bold">Historique des actions</h6>
                <table class="table table-hover table-bordered mb-3 hidden-sm-down animated fadeIn">
                    <thead class="thead-light">
                    <tr>
                        <th class="small font-weight-bold text-center">Date d'ajout</th>
                        <th class="small font-weight-bold text-center">Commentaire</th>
                        <th class="small font-weight-bold text-center">Statut</th>
                        <th class="small font-weight-bold text-center">Client avisé</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="!commande.historiqueCommandes || commande.historiqueCommandes.length < 1">
                        <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="4">
                            <i class="icon-social-dropbox"></i>&nbsp;Aucune donn&eacute;e disponible </td>
                    </tr>
                    <tr ng-repeat="h in commande.historiqueCommandes">
                        <td class="small text-center animated fadeIn">{{h.createdAt | longue_date}}</td>
                        <td class="small text-center animated fadeIn">{{h.commentaire}}</td>
                        <td class="small text-center animated fadeIn">{{h.statutCommand}}</td>
                        <td class="small text-center animated fadeIn">{{((h.notifyCustomer == 0) ? 'Non' : 'Oui')}}</td>
                    </tr>
                    </tbody>
                </table>

                <hr class="bg-info mb-3"/>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <span class="form-text small text-muted">Etat de la commande<span style="color: #f86c6b">&nbsp;*</span></span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-credit-card"></i></span>
                            <select ng-model="commande.statutCommandeCode" class="form-control form-control-sm">
                                <option ng-selected="commande.idStatutCommande === s.id" ng-repeat="s in statutsCommande" value="{{s.code}}">{{s.libelle}}</option>
                            </select>
                        </div>
                        <div ng-messages="userFrm.login.$error" ng-if="userFrm.$submitted && !userFormSubmited" class="animated shake">
                            <small class="text-danger" ng-message="required">L'identifiant est requis</small>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <span class="form-text small text-muted">Aviser le client ?</span>
                        <div class="input-group">
                            <input ng-model="commande.notifyCustomer" type="checkbox" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <span class="form-text small text-muted">Commentaires</span>
                        <div class="input-group">
                            <textarea ng-model="commande.commentaire" type="text" name="commentaire" class="form-control form-control-sm" placeholder="" limit-char-to="255" cannot-copy-cut-paste required rows="5"></textarea>
                        </div>
                        <div ng-messages="userFrm.motDePasse.$error" ng-if="userFrm.$submitted && !userFormSubmited" class="animated shake">
                            <small class="text-danger" ng-message="required">Le mot de passe est requis</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-2" style="padding-top: 0!important;">
                    <div class="col-md-12">
                        <span class="small" style="color: #f86c6b;">&nbsp;* Champ obligatoire</span>
                    </div>
                </div>
                <div class="text-center">
                    <button type="reset" class="btn btn-outline-danger px-3 mr-1 btn-sm"><i class="icon-ban font-weight-bold"></i>&nbsp;Effacer</button>
                    <button type="submit" class="btn btn-outline-success px-3 ml-1 btn-sm"><i class="icon-check font-weight-bold"></i>&nbsp;Valider</button>
                </div>

            </form>
        </div>

    </div>

</div>
