
<style>
    .profile-user-info-striped {
        border: 1px solid #DCEBF7;
    }
    .profile-user-info {
        display: table;
        width: 98%;
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
        border-top: none;
    }
    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-name {
        text-align: left;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 150px;
        vertical-align: middle;
    }
    .profile-info-name, .profile-info-value {
        display: table-cell;
        border-top: 1px dotted #D5E4F1;
        vertical-align: middle;
        padding-left: 6px;
    }
    .profile-info-row {
        display: table-row;
    }
</style>

<style>
    .profile-user-info-striped {
        border: 1px solid #DCEBF7;
    }
    .profile-user-info {
        display: table;
        width: 98%;
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
        border-top: none;
    }
    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-name {
        text-align: left;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 150px;
        vertical-align: middle;
    }
    .profile-info-name, .profile-info-value {
        display: table-cell;
        border-top: 1px dotted #D5E4F1;
        vertical-align: middle;
        padding-left: 6px;
    }
    .profile-info-row {
        display: table-row;
    }
</style>

<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-body">
            <h6 class="mb-0 text-muted"><strong>Nom du client: {{commande.livraison.nom + ' ' + commande.livraison.prenom}}</strong></h6>
            <br>
            <!--Transporteur table-->
            <h6 class="mb-3 text-muted"><strong>Détail transport</strong></h6>
            <table class="table table-hover table-outline mb-0 hidden-sm-down animated fadeIn">
                <thead class="thead-light">
                <tr>
                    <th class="small font-weight-bold text-center">N° du suivi</th>
                    <th class="small font-weight-bold text-center">Transporteur</th>
                    <th class="small font-weight-bold text-center">Poids</th>
                    <th class="small font-weight-bold text-center">Frais d'expédition</th>
                    <th class="small font-weight-bold text-center">Date d'expédition</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="!commande.transportDto">
                    <td class="small text-center text-danger alert alert-danger animated fadeIn" role="alert" colspan="5">
                        <i class="icon-social-dropbox"></i>&nbsp;Aucune donn&eacute;e disponible </td>
                </tr>
                <tr ng-show="commande.transportDto">
                    <td class="small text-center animated fadeIn">{{commande.transportDto.numeroSuivi}}</td>
                    <td class="small text-center animated fadeIn">{{commande.transportDto.transporteur}}</td>
                    <td class="small text-center animated fadeIn">{{commande.transportDto.poids}}</td>
                    <!--  + lieu de livraison -->
                    <td class="small text-center animated fadeIn">{{commande.transportDto.fraisExpedition | awnum:false:false:false:false:true:' ':false:false}}</td>
                    <td class="small text-center animated fadeIn">{{(commande.transportDto.date | courte_date) || 'Non défini'}}</td>
                </tr>
                </tbody>
            </table>

            <br>

            <div class="row mt-2">
                <div class="col-md-6">
                    <h6 class="mb-3 text-muted"><strong>Adresse de livraison</strong></h6>
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Adresse </div>
                            <div class="profile-info-value">{{commande.livraison.adresse || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Ville </div>
                            <div class="profile-info-value">{{commande.livraison.ville || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Code postal </div>
                            <div class="profile-info-value" ng-bind="commande.livraison.codePostal || 'Non défini'"></div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Pays </div>
                            <div class="profile-info-value">{{commande.livraison.pays || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Email </div>
                            <div class="profile-info-value">{{commande.livraison.email || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Téléphone </div>
                            <div class="profile-info-value">{{commande.livraison.telephone || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Adresse géolocalisation </div>
                            <div class="profile-info-value">{{commande.livraison.adresseGeolocalisation || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Mode de livraison </div>
                            <div class="profile-info-value">{{commande.livraison.modeLivraison || 'Non défini'}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="mb-3 text-muted"><strong>Adresse de facturation</strong></h6>
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Adresse </div>
                            <div class="profile-info-value">{{commande.lieuFacturationDto.adresse || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Ville </div>
                            <div class="profile-info-value">{{commande.lieuFacturationDto.ville || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Code postal </div>
                            <div class="profile-info-value" ng-bind="commande.lieuFacturationDto.codePostal || 'Non défini'"></div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Pays </div>
                            <div class="profile-info-value">{{commande.lieuFacturationDto.pays || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Email </div>
                            <div class="profile-info-value">{{commande.lieuFacturationDto.email || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Téléphone </div>
                            <div class="profile-info-value">{{commande.lieuFacturationDto.telephone || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Adresse géolocalisation </div>
                            <div class="profile-info-value">{{commande.lieuFacturationDto.adresseGeolocalisation || 'Non défini'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
