
<style>
    .profile-user-info-striped {
        border: 1px solid #DCEBF7;
    }
    .profile-user-info {
        display: table;
        width: 98%;
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
        border-top: none;
    }
    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-name {
        text-align: left;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 150px;
        vertical-align: middle;
    }
    .profile-info-name, .profile-info-value {
        display: table-cell;
        border-top: 1px dotted #D5E4F1;
        vertical-align: middle;
        padding-left: 6px;
    }
    .profile-info-row {
        display: table-row;
    }
</style>

<style>
    .profile-user-info-striped {
        border: 1px solid #DCEBF7;
    }
    .profile-user-info {
        display: table;
        width: 98%;
        width: calc(100% - 24px);
        margin: 0 auto;
    }
    .profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
        border-top: none;
    }
    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF;
    }
    .profile-info-name {
        text-align: left;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 150px;
        vertical-align: middle;
    }
    .profile-info-name, .profile-info-value {
        display: table-cell;
        border-top: 1px dotted #D5E4F1;
        vertical-align: middle;
        padding-left: 6px;
    }
    .profile-info-row {
        display: table-row;
    }
</style>

<div class="animated fadeIn">
    <div class="card border-0">
        <div class="card-body">
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Date paiement </div>
                            <div class="profile-info-value">{{commande.paiementDto.datePaiement | courte_date}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Moyen de paiement </div>
                            <div class="profile-info-value">{{commande.paiementDto.modePaiementLibelle}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;ID transaction </div>
                            <div class="profile-info-value" ng-bind="commande.paiementDto.transactionId">Non défini</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Montant(FCFA) </div>
                            <div class="profile-info-value">{{commande.paiementDto.montant || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;N° Facture </div>
                            <div class="profile-info-value">{{commande.paiementDto.facture || 'Non défini'}}</div>
                        </div>
                        <div class="profile-info-row small">
                            <div class="profile-info-name">&nbsp;Détails </div>
                            <div class="profile-info-value">{{commande.paiementDto.details || 'Non défini'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
